{% style %}
  .lt_cardgrid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(16, 1fr);
    /* height: 400px; */
    padding: 0.5rem;
  }
  .GridArea {
    grid-column: 2 / 20;
    grid-row: 2 / 17;
    border-radius: 4px;
  }
  .SquareImg {
    grid-column: 4 / 18;
    grid-row: 2 / 12;
    justify-self: center;
    align-self: end;
    object-fit:contain;
  }
  .SquareImgPng {
    grid-column: 2 / 19;
    grid-row: 1 / 12;
    justify-self: center;
    align-self: start;
    object-fit:contain;
  }

  .PortraitImg {
    grid-column: 4 / 17;
    grid-row: 1 / 12;
    justify-self: center;
    align-self: end;
    object-fit: contain;
    max-height: 260px;
  }

  .LandscapeImg {
    grid-column: 1 / 19;
    grid-row: 3 / 12;
    justify-self: center;
    align-self: center;
    object-fit:contain;
  }
  .ContentBox {
    grid-column: 1 / 21;
    grid-row: 12 / 17;
    margin: 0 0.5rem;
    border-radius: 4px;
    z-index: 1;
  }
  .TextBar {
    text-orientation: mixed;
    writing-mode: vertical-rl;
  }

  .AddToCart:hover .ATCicon {
    visibility: hidden;
  }
  .AddToCart:hover .ATCtext {
    visibility: visible;
  }
  .DetailState:hover .DetailIcon {
    /* visibility: hidden; */
    opacity: 0;
    animation-duration: 500;
  }
  .DetailState:hover .DetailText {
    /* visibility: visible; */
    opacity: 1;
    animation-duration: 500;
  }
  .new-label {
    text-transform: uppercase;
    position: absolute;
    top: -1rem;
    left: 0rem;
    z-index: 2;
    font-size: 0.75rem;
  }
  .tooltip {
    visibility: hidden;
    position: absolute;
  }
  .has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 100;
  }

  form.js-ajax-cart-form-in-progress [type="submit"] {
    opacity: .7;
  }

  /* Show a loading indicator */
  form.js-ajax-cart-form-in-progress:after {
    content: 'Adding to cart…' display: block;
  }

  .price-item {
  font-size: 1.75rem;
  font-weight: 500;
  }
  
  
{% endstyle %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="lt_cardgrid w-full group relative h-[400px] max-w-[380px] sm:max-w-[350px] lg:max-w-[300px]">
  <div class="GridArea bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] to-stone-100 via-stone-200 from-stone-400/80 text-slate-700 relative shadow-lg group-hover:shadow-stone-500/80 group-hover:duration-300 group-hover:transition-all">
    <div class="absolute flex items-center p-1 text-lg text-gray-500 top-1 left-1">
      {% if all_products[card_product.metafields.my_fields.addon].available == true %}
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 pr-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"/>
          <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"/>
        </svg>
        <span>Gift</span>
      {% endif %}

      {%- comment -%}
        check if product media contains 360 view video
      {%- endcomment -%}
      {% assign productVideo = false %}
      {% for media in card_product.media %}
        {% if media.media_type == 'video' %}
          {% assign productVideo = true %}
        {% endif %}
      {% endfor %}
      {% if productVideo == true %}
        <div class="relative flex w-full">
          <div class="absolute transition opacity-100 group-hover:opacity-0 group-hover:transition">
            {% render 'icon-film' %}
          </div>
          <div class="absolute text-xs leading-none transition opacity-0 top-1 left-1 group-hover:opacity-100 text-rose-600">
            360° Video
          </div>
        </div>
      {% endif %}
    </div>
    
    <div class="absolute text-lg text-zinc-600 TextBar right-2 top-3 group-hover:text-gray-700">
    {% case card_product.type %}
      {% when 'Other Model Kit' %}
        {% if card_product.metafields.my_fields.product_lines %}  
        {{ card_product.metafields.my_fields.product_lines }}
        {% else %}
        {{ card_product.metafields.my_fields.item_type }}
      {% endif %}
      {% when 'K-Cosmetic' %}
          {{ card_product.metafields.my_fields.item_type }}
      {% when 'Kpop CD' %}
          {% assign splitTitle = card_product.title | split: ' - ' %}
          {% assign rearSplit = splitTitle[1] | split: " '" %}
          {% assign albumNumber = rearSplit[0] %}
        
        {% if splitTitle[1] %}
          {{ albumNumber }}
        {% else %}
          {{ card_product.metafields.my_fields.item_type }}
        {% endif %}
      {% when 'Kpop' %}
          {{ card_product.metafields.my_fields.item_type }}
      {% when 'Toy' %}
          {{ card_product.metafields.my_fields.series }}
      {% when 'Gundam Model Kit' %}
        <div class="flex items-baseline">
          <div class="text-lg text-slate-600">
            {{ card_product.metafields.my_fields.grade }}
            &nbsp
          </div>
          <div class="text-base">
            {{ card_product.metafields.my_fields.gundam_series }}
          </div>
        </div>
      {% when 'Figure' %}
          {{ card_product.metafields.my_fields.product_lines | truncate: 50 }}
      {% else %}
          {{card_product.metafields.my_fields.brand}}  {{ card_product.metafields.my_fields.item_type | truncate: 50 }}
    {% endcase %}
  </div>
  </div>

  {% assign ImageRatio = card_product.featured_media.aspect_ratio %}
  {% assign date_created = card_product.created_at | date: '%s' %}
  {% assign date_now = 'now' | date: '%s' %}
  {% assign difference = date_now | minus: date_created %}

  {% if ImageRatio > 1.2 %}
    <div class="relative LandscapeImg">
      <a href="{{ card_product.url }}">
        <img
          src="{{ card_product.featured_media | image_url: width: 350 }}"
          alt=""
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.fetured_media.height }}"
          loading="lazy"
          class="w-full {% unless card_product.featured_media.src contains ".png" %}rounded shadow-2xl shadow-gray-400 -translate-x-4 {% else %} drop-shadow {% endunless %}"
          style="background-color:unset;"
        >
      </a>
    </div>
  {% elsif ImageRatio < 0.85 %}
    <div class="relative PortraitImg">
      <a href="{{ card_product.url }}">
        <img
          src="{{ card_product.featured_media | image_url: height: 300 }}"
          alt=""
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.fetured_media.height }}"
          loading="lazy"
          class="w-full h-full {% unless card_product.featured_media.src contains ".png" %}rounded shadow-2xl shadow-gray-400 {% else %}drop-shadow translate-y-6 group-hover:-translate-y-6 group-hover:duration-500 duration-300{% endunless %}"
          style="background-color:unset;"
        >
      </a>
    </div>
  {% else %}
    <div class="relative
      {% if card_product.featured_media.src contains ".png" %}SquareImgPng {% else %}SquareImg {% endif %}">
      <a href="{{ card_product.url }}">
        {% unless card_product.featured_media.src contains ".png" %}
        <img
          src="{{ card_product.featured_media | image_url: width: 350 }}"
          alt=""
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.fetured_media.height }}"
          loading="lazy"
          class="w-full drop-shadow"
          style="background-color:unset;"
        >
          {% else %}
          <img
            src="{{ card_product.featured_media | image_url: width: 350 }}"
            alt=""
            width="{{ card_product.featured_media.width }}"
            height="{{ card_product.fetured_media.height }}"
            loading="lazy"
            class="w-full duration-300 translate-y-8 group-hover:scale-105 group-hover:duration-500"
            style="background-color:unset;"
          >
          {% endunless %}
      </a> 
    </div>
  {% endif %}

  <div class="relative flex flex-col justify-between shadow-xl ContentBox bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] to-stone-100 from-zinc-300">
    {% if difference < 3888000 %}
      <span class="font-semibold new-label text-rose-500">new</span>
    {% endif %}
    <div class="text-xl px-2 py-1 h-[65%] flex flex-col justify-between items-center">
      {% render 'splitTitle', card_product: card_product %}
      {% render 'price', product: card_product, price_class: 'font-bold' %}
      
      {% comment %} {% if card_product.tags contains 'saleTag20' %}
        <div class="flex items-baseline justify-center gap-4">
          <div class="text-2xl font-bold">Sale {{ card_product.price | times: 0.8 | money }}</div>
          <div class="text-lg text-red-600 line-through">Reg. {{ card_product.price | money }}</div>
        </div>
      {% elsif card_product.tags contains 'saleTag35' %}
        <div class="flex justify-center gap-6">
          <div class="text-2xl font-bold">Sale {{ card_product.price | times: 0.65 | money }}</div>
          <div class="text-lg text-red-600 line-through">Reg. {{ card_product.price | money }}</div>
        </div>
      {% elsif card_product.tags contains 'saleTag50' %}
        <div class="flex justify-center gap-6">
          <div class="text-2xl font-bold">Sale {{ card_product.price | times: 0.5 | money }}</div>
          <div class="text-lg text-red-600 line-through">Reg. {{ card_product.price | money }}</div>
        </div>
      {% else %}
    {% endif %} {% endcomment %}
    </div>

    <div class="flex items-stretch justify-center h-[35%] py-1 text-slate-600">
        <form action="{{ routes.cart_url }}" method="post">
          {%- if card_product.variants.size == 1 and card_product.selected_or_first_available_variant.available -%}
            {% if all_products[card_product.metafields.my_fields.addon].available == true %}
              <a
                data-ajax-cart-request-button
                href="{{ routes.cart_add_url }}?id={{ card_product.selected_or_first_available_variant.id }}&quantity=1&&items[1]id={{ all_products[card_product.metafields.my_fields.addon].selected_or_first_available_variant.id }}&quantity=1"
                class="lt-cardbutton"
                >add w/ gift</a
              >
            {% else %}
              <a
                data-ajax-cart-request-button
                href="{{ routes.cart_add_url }}?id={{ card_product.selected_or_first_available_variant.id }}&quantity=1"
                class="lt-cardbutton"
                >Quick Add</a
              >
            {% endif %}
          {% elsif card_product.variants.size > 1 %}
            <a href="{{ card_product.url }}" class="lt-cardbutton">View Options</a>
          {% elsif card_product.selected_or_first_available_variant.available == false %}
            sold out
          {% endif %}
        </form>
    </div>
  </div>
</div>
