{% style %}
  .lt_cardgrid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(16, 1fr);
    /* height: 400px; */
    padding: 0.5rem;
  }
  .GridArea {
    grid-column: 2 / 20;
    grid-row: 2 / 17;
    border-radius: 4px;
  }
  .SquareImg {
    grid-column: 2 / 20;
    grid-row: 1 / 14;
    justify-self: center;
    align-self: center;
  }
  .PortraitImg {
    grid-column: 6 / 16;
    grid-row: 1 / 13;
    justify-self: center;
    align-self: end;
  }

  .LandscapeImg {
    grid-column: 3 / 19;
    grid-row: 3 / 11;
    justify-self: center;
    align-self: center;
  }
  .ContentBox {
    grid-column: 1 / 21;
    grid-row: 12 / 17;
    margin: 0 0.5rem;
    border-radius: 4px;
    z-index: 1;
  }
  .TextBar {
    text-orientation: mixed;
    writing-mode: vertical-rl;
  }

  .AddToCart:hover .ATCicon {
    visibility: hidden;
  }
  .AddToCart:hover .ATCtext {
    visibility: visible;
  }
  .DetailState:hover .DetailIcon {
    /* visibility: hidden; */
    opacity: 0;
    animation-duration: 500;
  }
  .DetailState:hover .DetailText {
    /* visibility: visible; */
    opacity: 1;
    animation-duration: 500;
  }
  .new-label {
    text-transform: uppercase;
    position: absolute;
    top: -1rem;
    left: 0rem;
    z-index: 2;
    font-size: 0.75rem;
  }
  .tooltip {
    visibility: hidden;
    position: absolute;
  }
  .has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 100;
  }

  form.js-ajax-cart-form-in-progress [type="submit"] {
    opacity: .7;
  }

  /* Show a loading indicator */
  form.js-ajax-cart-form-in-progress:after {
    content: 'Adding to cart…' display: block;
  }



  
{% endstyle %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="lt_cardgrid w-full group relative h-[340px] sm:h-[400px]">
  <div class="GridArea bg-gradient-to-b from-zinc-200 to-gray-100/50 text-slate-700/50 relative group-hover:from-zinc-300  group-hover:transition-all">
    <div class="absolute top-1 left-1 flex items-center text-lg p-1 text-gray-500">
      {% if all_products[card_product.metafields.my_fields.addon].available == true %}
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 pr-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"/>
          <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"/>
        </svg>
        <span>Gift</span>
      {% endif %}

      {%- comment -%}
        check if product media contains 360 view video
      {%- endcomment -%}
      {% assign productVideo = false %}
      {% for media in card_product.media %}
        {% if media.media_type == 'video' %}
          {% assign productVideo = true %}
        {% endif %}
      {% endfor %}
      {% if productVideo == true %}
        <div class="relative flex w-full">
          <div class="absolute group-hover:opacity-0 opacity-100 transition group-hover:transition">
            {% render 'icon-film' %}
          </div>
          <div class="absolute top-1 left-1 group-hover:opacity-100 opacity-0 text-xs leading-none text-rose-600 transition">
            360° Video
          </div>
        </div>
      {% endif %}
    </div>

    {% case card_product.type %}
      {% when 'Other Model Kit' %}
        <div class="TextBar right-2 top-2 absolute writing-vertical-rl text-lg">
          {{ card_product.metafields.my_fields.series }}
        </div>
      {% when 'K-Cosmetic' %}
        <div class="TextBar right-2 top-2 absolute writing-vertical-rl text-lg">
          {{ card_product.metafields.my_fields.item_type }}
        </div>
      {% when 'Kpop CD' %}
        <div class="TextBar right-2 top-2 absolute writing-vertical-rl text-lg">
          {{ card_product.metafields.my_fields.artist }}
        </div>
      {% when 'Kpop' %}
        <div class="TextBar right-2 top-2 absolute writing-vertical-rl text-lg">
          {{ card_product.metafields.my_fields.item_type }}
        </div>
      {% when 'Toy' %}
        <div class="TextBar right-2 top-2 absolute writing-vertical-rl text-lg">
          {{ card_product.metafields.my_fields.series }}
        </div>
      {% when 'Gundam Model Kit' %}
        <div class="TextBar right-2 top-2 absolute flex items-baseline">
          <div class="text-slate-600 text-lg">
            {{ card_product.metafields.my_fields.grade }}
            &nbsp
          </div>
          <div class="text-base">
            {{ card_product.metafields.my_fields.gundam_series }}
          </div>
        </div>
      {% when 'Figure' %}
        <div class="TextBar right-2 top-2 absolute writing-vertical-rl text-lg">
          {{ card_product.metafields.my_fields.series | truncate: 50 }}
        </div>
      {% else %}
        <div class="TextBar right-2 top-2 absolute writing-vertical-rl text-lg">
          {{ card_product.metafields.my_fields.item_type | truncate: 50 }}
        </div>
    {% endcase %}
  </div>

  {% assign ImageRatio = card_product.featured_media.aspect_ratio %}
  {% assign date_created = card_product.created_at | date: '%s' %}
  {% assign date_now = 'now' | date: '%s' %}
  {% assign difference = date_now | minus: date_created %}

  {% if ImageRatio > 1.2 %}
    <div class="LandscapeImg">
      <a href="{{ card_product.url }}">
        <img
          src="{{ card_product.featured_media | image_url: width: 350 }}"
          alt=""
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.fetured_media.height }}"
          loading="lazy"
          class="w-[300px] sm:w-full -translate-x-[1rem] object-contain group-hover:duration-500 duration-300 drop-shadow {% if card_product.featured_media.src contains ".jpg" %}rounded shadow-2xl shadow-gray-400 {% endif %}"
          style="background-color:unset;"
        >
      </a>
    </div>
  {% elsif ImageRatio < 0.9 %}
    <div class="PortraitImg">
      <a href="{{ card_product.url }}">
        <img
          src="{{ card_product.featured_media | image_url: height: 300 }}"
          alt=""
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.fetured_media.height }}"
          loading="lazy"
          class="max-h-[220px] sm:max-h-[255px] w-auto -translate-y-[1.25rem] drop-shadow {% if card_product.featured_media.src contains ".jpg" %}rounded shadow-2xl shadow-gray-400 {% endif %}"
          style="background-color:unset;"
        >
      </a>
    </div>
  {% else %}
    <div class="SquareImg relative">
      <a href="{{ card_product.url }}">
        <img
          src="{{ card_product.featured_media | image_url: width: 350 }}"
          alt=""
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.fetured_media.height }}"
          loading="lazy"
          class="w-[21.5rem] -translate-y-[1rem]  aspect-square h-auto drop-shadow {% if card_product.featured_media.src contains ".jpg" %}rounded shadow-2xl shadow-gray-400 {% endif %}"
          style="background-color:unset;"
        >
      </a>
    </div>
  {% endif %}

  <div class=" ContentBox bg-gradient-to-b from-zinc-200 via-zinc-100 to-zinc-50 shadow grid grid-rows-7 relative">
    {% if difference < 3888000 %}
      <span class="new-label text-rose-500 font-semibold">new</span>
    {% endif %}
    <div class="row-span-5 text-lg sm:text-xl px-4 pt-2 min-h-[6rem] sm:min-h-[8rem] text-center flex flex-col justify-between">
      {% render 'splitTitle', card_product: card_product %}
      {% if card_product.tags contains 'saleTag20' %}
        <div class="flex justify-center items-baseline gap-4">
          <div class="text-2xl font-bold">Sale {{ card_product.price | times: 0.8 | money }}</div>
          <div class="text-lg text-red-600 line-through">Reg. {{ card_product.price | money }}</div>
        </div>
      {% elsif card_product.tags contains 'saleTag35' %}
        <div class="flex justify-center gap-6">
          <div class="text-2xl font-bold">Sale {{ card_product.price | times: 0.65 | money }}</div>
          <div class="text-lg text-red-600 line-through">Reg. {{ card_product.price | money }}</div>
        </div>
      {% elsif card_product.tags contains 'saleTag50' %}
        <div class="flex justify-center gap-6">
          <div class="text-2xl font-bold">Sale {{ card_product.price | times: 0.5 | money }}</div>
          <div class="text-lg text-red-600 line-through">Reg. {{ card_product.price | money }}</div>
        </div>
      {% else %}
        {% render 'price', product: card_product, price_class: 'font-bold' %}
      {% endif %}
    </div>

    <div class="row-span-2 rounded-b-md text-slate-600 flex items-center justify-center pt-1 sm:pt-2">
      <div class="h-full text-lg">
        <form action="{{ routes.cart_url }}" method="post">
          {%- if card_product.variants.size == 1 and card_product.selected_or_first_available_variant.available -%}
            {% if all_products[card_product.metafields.my_fields.addon].available == true %}
              <a
                data-ajax-cart-request-button
                href="{{ routes.cart_add_url }}?id={{ card_product.selected_or_first_available_variant.id }}&quantity=1&&items[1]id={{ all_products[card_product.metafields.my_fields.addon].selected_or_first_available_variant.id }}&quantity=1"
                class="lt-cardbutton"
                >add w/ gift</a
              >
            {% else %}
              <a
                data-ajax-cart-request-button
                href="{{ routes.cart_add_url }}?id={{ card_product.selected_or_first_available_variant.id }}&quantity=1"
                class="lt-cardbutton"
                >Quick Add</a
              >
            {% endif %}
          {% elsif card_product.variants.size > 1 %}
            <a href="{{ card_product.url }}" class="lt-cardbutton">View Options</a>
          {% elsif card_product.selected_or_first_available_variant.available == false %}
            sold out
          {% endif %}
        </form>

        {% comment %}
          check if the card product is already added to the cart
          <div class="inline">
          {% if cart.item_count > 0 %}
          {% assign in_cart = 0 %}
          {% for item in cart.items %}
          {% if item.product.id == card_product.id %}
          {% assign in_cart = in_cart | plus: 1%}
          {% endif %}
          {% endfor %}
          {% endif %}

          {% if in_cart >= 1 %}
          <div class="w-4 h-4 text-red-300">
          {% render 'icon-success'%} {{cart.item_count}}
          </div>
          {% endif %}
          </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>
