<!-- <div class="flex w-full h-[16rem] lg:h-[8.5rem] p-1 border border-solid rounded shadow border-rose-100 hover:border-rose-300 hover:bg-white border-1 flex-nowrap delay-100"> -->
<div class="grid grid-cols-5 delay-100 border border-solid rounded shadow place-items-center border-rose-100 hover:border-rose-300 hover:bg-white border-1 flex-nowrap">
  <div class="col-span-1 row-span-1 lg:row-span-2">
    <a href="{{card_product.url}}"><img src="{{card_product.featured_image | image_url: width:150 }}" alt="" class="object-cover w-full max-w-[100px] lg:max-w-[150px] h-auto p-2 aspect-square" loading=lazy></a>
  </div>
  
  <div class="flex flex-col w-full col-span-4 col-start-2 row-span-1 row-start-1 px-4 py-2 text-lg">
    <div class="block font-semibold"><a href="{{card_product.url}}" class="no-underline text-neutral-800">{{card_product.title | truncate:90}}</a></div>
    <div class="flex justify-between w-3/4">
      <div class="block">{{card_product.metafields.my_fields.item_type}}</div>
      <div class="block text-2xl text-slate-700">{{card_product.price | money}}</div>
    </div>
  </div>
  
  <!-- basic add to cart function works but selector quantity limit doesn't work -->
    {%- assign product_form_id = 'product-form-' | append: card_product.id -%}
    <div class="w-full row-span-1 row-start-2 pb-2 col-span-full lg:col-span-4 lg:col-start-2">
      <!-- {% form 'product', card_product, id: product_form_id ,class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' %} -->
      
      <product-form class="product-form">
        <div class="product-form__error-message-wrapper" role="alert" hidden>
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </svg>
          <span class="product-form__error-message"></span>
        </div>

        {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
        
        <select name="id" id="Variants-{{card_product.id}}" class="inline-block px-4 text-lg leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline w-[15rem] lg:w-[20rem] h-10">
          <!-- <option>Choose a Variant</option> -->
          {% for variant in card_product.variants %}
          {% if variant.available %}
          <option value="{{ variant.id }}" class="text-lg w-[15rem]">{{ variant.title }} - {{ variant.price | money }} ({{variant.inventory_quantity}})</option>
          {% else %}
          <option disabled="disabled">{{ variant.title }} - Sold Out</option>
          {% endif %}
          {% assign selected_variant = variant.title %}
          {% endfor %}
        </select>
        <label class="text-lg" >Qty:</label>
        <input type="number" id="quantity-{{card_product.id}}" name="quantity" value="1" min="1" class="h-10 pl-4 pr-2 text-lg leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline w-[5rem]">

               
        <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
          <div class="inline-block product-form__buttons">
            <button
              type="submit"
              name="add"
              class="px-3 py-2 bg-blue-400 border-blue-500 rounded product-form__submit 123button 123button--full-width hover:border-blue-600"
            {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
            >
                <span>
                  {%- if card_product.selected_or_first_available_variant.available -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
                <div class="hidden loading-overlay__spinner">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
            </button>
            </div>
        {%- endform -%}
      </product-form>


        <!-- <form method="post" action="/cart/add">
              <div class="flex justify-center gap-4 lg:justify-start">
                <select name="id" id="Variants-{{card_product.id}}" class="inline-block px-4 text-lg leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline w-[15rem] lg:w-[20rem] h-10">
                  {% for variant in card_product.variants %}
                  {% if variant.available %}
                  <option value="{{ variant.id }}" class="text-lg w-[15rem]">{{ variant.title }} - {{ variant.price | money }} ({{variant.inventory_quantity}})</option>
                  {% else %}
                  <option disabled="disabled">{{ variant.title }} - Sold Out</option>
                  {% endif %}
                  {% assign selected_variant = variant.title %}
                  {% endfor %}
                </select>
                <label class="text-lg" >Qty:</label>
                <input type="number" id="quantity-{{card_product.id}}" name="quantity" value="1" min="1" class="h-10 pl-4 pr-2 text-lg leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline w-[5rem]">
        
                <input id="submit-{{card_product.id}}" name="add" type="submit" value="Add to cart" onsubmit="foo()" class="inline-block w-32 h-10 text-lg transition delay-200 bg-orange-300 border border-orange-400 rounded hover:bg-orange-400 add-to-cart loading openModal" >
        
                <input type="hidden" name="return_to" value="back" />
              </div>
            </form> -->
      
                    <!-- {%endform%} -->
    </div>
    {%comment%}
    <!-- <form method="post" action="/cart/add"> -->
      <div class="w-full row-span-1 row-start-2 pb-2 col-span-full lg:col-span-4 lg:col-start-2">
        {% form 'product', card_product, id: product_form_id ,class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' %}
            <div class="flex justify-center gap-4 lg:justify-start">
              <select name="id" data-productid="{{card_product.id}}" class="inline-block px-4 text-lg leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline w-[15rem] lg:w-[20rem] h-10">
                <option>Choose a Variant</option>
                {% for variant in card_product.variants %}
                {% if variant.available %}
                <option value="{{ variant.id }}" class="text-lg w-[15rem]">{{ variant.title }} - {{ variant.price | money }} ({{variant.inventory_quantity}})</option>
                {% else %}
                <option disabled="disabled">{{ variant.title }} - Sold Out</option>
                {% endif %}
                {% assign selected_variant = variant.title %}
                {% endfor %}
              </select>
              <label for="Quantity" class="text-lg" >Qty:</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" max="{{card_product.selected.inventory_quantity}}" class="h-10 pl-4 pr-2 text-lg leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline w-[5rem]">
          
                     <input id="submit-{{card_product.id}}" name="add" type="submit" value="Add to cart" class="inline-block w-32 h-10 text-lg transition delay-200 bg-orange-300 border border-orange-400 rounded hover:bg-orange-400 add-to-cart" >
                      <div id="popupATC" class="relative hidden w-full text-base">
                        <div class="absolute w-full -top-4 outline outline-1">{{cart.item_count}}</div>
                      </div>
                      <input type="hidden" name="return_to" value="back" />
                    </div>
                    {%endform%}
    </div>
  <!-- </form> -->{%endcomment%}
</div>
<script type='text/javascript'>
  // function foo() {
  //   var user_choice = window.confirm('Confirm: Item added to cart');
  // if(user_choice==true) {
  // window.location= "element.submit()";  
  // } else {
  // return false;
  // }
  // }
  
  
//   var _learnq = _learnq || [];
//   var classname = document.getElementsByClassName("add-to-cart");
// var addToCart = function() {
// _learnq.push(['track', 'Added to Cart', item]);
// }; for (var i = 0; i < classname.length; i++) {
// classname[i].addEventListener('click', addToCart, false);
// }
  </script>