<div class="flex w-full h-[8.5rem] p-1 border border-solid rounded shadow border-rose-100 hover:border-rose-300 hover:bg-white border-1 flex-nowrap delay-100">
  <div class="relative w-[90px] h-full">
    <a href="{{card_product.url}}"><img src="{{card_product.featured_image | img_url:'90x'}}" alt="" class="absolute object-cover w-full h-full p-2 aspaect-square" loading="lazy"></a>
  </div>
  
  <div class="flex flex-col justify-between w-[22rem] lg:w-[40rem] px-4 py-2 text-lg h-full">
    <div class="block font-semibold">{{card_product.title | truncate:90}}</div>
    <div class="flex justify-between w-3/4">
      <div class="block">{{card_product.metafields.my_fields.item_type}}</div>
      <div class="block text-2xl text-slate-700">{{card_product.price | money}}</div>
    </div>
  </div>
  
  <!-- basic add to cart function works but selector quantity limit doesn't work -->
    {%- assign product_form_id = 'product-form-' | append: card_product.id -%}
    <!-- <form method="post" action="/cart/add"> -->
      {% form 'product', card_product, id: product_form_id ,class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' %}
      <div class="flex items-center h-full gap-x-6">
        <div class="relative">
          <select name="id" data-productid="{{card_product.id}}" class="text-lg block w-[12rem] h-14 px-4 leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline">
            <option>Choose a Variant</option>
            {% for variant in card_product.variants %}
            {% if variant.available %}
            <option value="{{ variant.id }}" class="text-lg">{{ variant.title }} - {{ variant.price | money }} ({{variant.inventory_quantity}})</option>
            {% else %}
            <option disabled="disabled">{{ variant.title }} - Sold Out</option>
            {% endif %}
            {% assign selected_variant = variant.title %}
            {% endfor %}
          </select>
          <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
            <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
        <div class="flex items-center h-10 gap-1 lg:h-14">
          <label for="Quantity" class="inline-block text-lg" >Qty:</label>
          <input type="number" hidden="hidden" id="Quantity" name="quantity" value="1" min="1" max="{{card_product.selected.inventory_quantity}}" class="text-lg block w-[5rem] h-full pl-4 pr-2  leading-tight bg-white border border-gray-400 rounded shadow appearance-none hover:border-gray-500 focus:outline-none focus:shadow-outline">
        </div>
      <input id="submit" name="add" type="submit" value="Add to cart" class="w-40 h-12 text-lg transition delay-200 bg-orange-300 border border-orange-400 rounded product-form__submit hover:bg-orange-400">
      <input type="hidden" name="return_to" value="back" />
    </div>
    {%endform%}
  <!-- </form> -->
</div>