<div id="aniBlocks" class="flex flex-wrap items-stretch justify-center w-full gap-4 mb-20 lg:gap-8">

    <div class="flex flex-col bg-white bg-opacity-50 backdrop-blur-md rounded-lg w-60 lg:w-[30rem] group drop-shadow-lg aniBlocks">
        <div class="flex flex-col items-center px-2 pt-4 lg:flex-row justify-evenly">
            <img src="{{'free-delivery.png' | asset_img_url: '50x'}}" alt="" class="w-14 lg:w-20">
            <h4 class="font-semibold text-neutral-500">Free Shipping</h4>
        </div>
        <p class="px-4 mx-auto text-base text-center break-words md:text-lg lg:text-xl">Free shipping on orders
            over $60</p>
    </div>

    <div class="flex flex-col bg-white bg-opacity-50 backdrop-blur-md rounded-lg w-60 lg:w-[30rem] group drop-shadow-lg aniBlocks">
        <div class="flex flex-col items-center px-2 pt-4 lg:flex-row justify-evenly">
            <img src="{{'fast-delivery.png' | asset_img_url: '50x'}}" alt="" class="w-14 lg:w-20">
            <h4 class="font-semibold text-center text-neutral-500">Fast Processing</h4>
        </div>
        <p class="px-4 mx-auto text-base text-center break-words md:text-lg lg:text-xl">Order place by 1:00 PM
            EST (Mon. ~ Fri.) will ship the same day.</p>
    </div>
    <div class="flex flex-col bg-white bg-opacity-50 backdrop-blur-md rounded-lg w-60 lg:w-[30rem] group drop-shadow-lg aniBlocks">
        <div class="flex flex-col items-center px-2 pt-4 lg:flex-row justify-evenly">
            <img src="{{'save-money.png' | asset_img_url: '50x'}}" alt="" class="w-12 lg:w-20">
            <h4 class="font-semibold text-neutral-500">Reward</h4>
        </div>
        <p class="px-4 mx-auto text-base text-center break-words md:text-lg lg:text-xl">Be a part of online
            reward program and start earning cash back in reward point on every order.</p>
    </div>
    <div class="flex flex-col bg-white bg-opacity-50 backdrop-blur-md rounded-lg w-60 lg:w-[30rem] group drop-shadow-lg aniBlocks">
        <div class="flex flex-col items-center px-2 pt-4 lg:flex-row justify-evenly">
            <img src="{{'authentic.png' | asset_img_url: '50x'}}" alt="" class="w-12 lg:w-20">
            <h4 class="font-semibold text-neutral-500">Authenticity</h4>
        </div>
        <p class="px-4 mx-auto text-base text-center break-words md:text-lg lg:text-xl">Only the highest-quality
            officially licensed merchandise</p>
    </div>
    <div class="flex flex-col bg-white bg-opacity-50 backdrop-blur-md rounded-lg w-60 lg:w-[30rem] group drop-shadow-lg aniBlocks">
        <div class="flex flex-col items-center px-2 pt-4 lg:flex-row justify-evenly">
            <img src="{{'live-chat.png' | asset_img_url: '50x'}}" alt="" class="w-12 lg:w-20">
            <h4 class="font-semibold text-neutral-500">Live Chat</h4>
        </div>
        <p class="px-4 mx-auto text-base text-center break-words md:text-lg lg:text-xl">Our live chat agent is
            here to assist you.</p>
    </div>

    <div class="flex flex-col bg-white bg-opacity-50 backdrop-blur-md rounded-lg w-60 lg:w-[30rem] group drop-shadow-lg aniBlocks">
        <div class="flex flex-col items-center px-2 pt-4 lg:flex-row justify-evenly">
            <img src="{{'kpop.png' | asset_img_url: '50x'}}" alt="" class="w-12 lg:w-20">
            <h4 class="font-semibold text-neutral-500">K-Pop</h4>
        </div>
        <p class="px-4 mx-auto text-base text-center break-words md:text-lg lg:text-xl">Latest K-Pop trends</p>
    </div>
</div>