<div class="text-slate-600 leading-[1.2] ">
  <a href="{{ card_product.url }}" class="no-underline full-unstyled-link">
    {% case card_product.type %}
      {% when 'Writing Material' %}
        {% assign splitTitle = card_product.title | split: " - " %}
        {{ splitTitle[0]}}
        <br/>
        {{ splitTitle[1]}}
        <br/>
        {{ splitTitle[2] | truncate: 35 }}
        {{ splitTitle[3] | truncate: 35 }}
      {% when 'Plush' %}
        {% assign splitTitle = card_product.title | split: " - " %}
        {% for linetitle in splitTitle %}
          {{ linetitle  }}
          <br/>
        {% endfor %}
      {% when 'K-Cosmetic' %}
        {{ card_product.title | escape | replace_first: "] ", "]<br />" | newline_to_br }}
      {% when 'Kpop CD' %}
        {{ card_product.title | escape | remove: 'K-Pop CD ' | replace_first: " &#39;", "<br />'"| newline_to_br | truncate: 80  }}
      {% when 'Gundam Model Kit' or 'Other Model Kit' %}
        {{ card_product.title | escape | remove: 'Model Kit' | truncate: 80  }}
      {% when 'Figure' %}
        {% assign splitTitle = card_product.title | split: " - " %}
        {{ splitTitle[0]}}
        <br/>
        {{ splitTitle[1]}}
        <br/>
        {{ splitTitle[2] | truncate: 35 }}
        {{ splitTitle[3] | truncate: 35 }}
      {% else %}
        {{ card_product.title | escape | remove: 'K-Pop CD ' | truncate: 80  }}
    {% endcase %}
  </a>
</div>
