<div class="text-slate-700 font-semibold leading-[1.1] sm:leading-[1.3] basis-4/5">
  <a href="{{ card_product.url }}" class="flex flex-col justify-around h-full text-center no-underline full-unstyled-link">
    {% case card_product.type %}
      {% when 'Writing Material' %}
        {% assign splitTitle = card_product.title | split: ' - ' %}
        {{ splitTitle[0] }}
        <br>
        {{ splitTitle[1] }}
        <br>
        {{ splitTitle[2] | truncate: 35 }}
        {{ splitTitle[3] | truncate: 35 }}
      {% when 'Plush' %}
        {% assign splitTitle = card_product.title | split: ' - ' %}
        {% for linetitle in splitTitle %}
          {{ linetitle }}
          <br>
        {% endfor %}
      {% when 'K-Cosmetic' %}
        {{ card_product.title | escape | replace_first: '] ', ']<br />' | newline_to_br }}
      {% when 'Kpop CD' %}
        {% if card_product.title contains " - " %}
          {% assign splitTitle = card_product.title | split: ' - ' %}
          {% assign artist = splitTitle[0] | remove: 'K-Pop' | remove: 'CD ' %}
          {% assign rearSplit = splitTitle[1] | split: " '" %}
          {% assign albumNumber = rearSplit[0] %}
          {% assign albumTitle = rearSplit[1] | remove_last: "'" %}
        {% else %}
          {% assign splitTitle = card_product.title | split: " '" %}
          {% assign artist = splitTitle[0] | remove: 'K-Pop' | remove: 'CD ' %}
          {% assign albumTitle = splitTitle[1] | remove_last: "'" %}
        {% endif %}

        <div class="text-[1.4rem] font-bold">{{artist}}</div>
        {% comment %} <div>album #: {{albumNumber}}</div> {% endcomment %}
        <div>{{albumTitle}}</div>

      {% when 'Gundam Model Kit' %}
          {% assign splitTitle = card_product.title | split: ' #' %}
          <span class="block font-semibold {% if splitTitle[1] %}text-center{%else%}text-slate-700{% endif %}">
            {{- splitTitle[0] }}
          </span>
          {% if splitTitle[1] %}
            <span class="block font-semibold text-slate-700">{{ splitTitle[1] | prepend: '#' }} </span>
          {% endif %}
          <span class="block">{{ splitTitle[2] | truncate: 35 }} </span>
          {{ splitTitle[3] | truncate: 35 }}
      
      {% when 'Other Model Kit' %}
        {% assign splitTitle = card_product.title | remove: 'Model Kit' | split: ' - ' %}
        <span class="block font-semibold text-slate-700">
          {{- splitTitle[0] }}
        </span>
        {% comment %} <span class="block font-semibold text-slate-700">
          {{- splitTitle[1] }}
        </span>
        <span class="block font-semibold text-slate-700">
          {{- splitTitle[2] }}
        </span> {% endcomment %}
        {% if card_product.metafields.my_fields.product_lines %}
          {% comment %} <span class="block font-semibold text-slate-700"> 
            {{ splitTitle[1] }}
          </span> {% endcomment %}
          <span class="block font-semibold text-slate-700">{{ splitTitle[2] | truncate: 50 }}</span>
          {% else %}
          {{ splitTitle[1] | truncate: 35 }}
        {% endif %}

      {% when 'Figure' %}
        {% assign splitTitle = card_product.title | split: ' - ' %}
        <span class="font-semibold">{{ splitTitle[0] }} </span>
        {% unless splitTitle[2] %}
        <span class="block font-medium text-slate-600">{{ splitTitle[1] }} </span>
        {% endunless %}
        <span class="block font-medium text-slate-900">{{ splitTitle[2] }} </span>
        {{ splitTitle[3] | truncate: 30 }}

      {% else %}
        {% assign splitTitle = card_product.title | split: ' - ' %}
        <span class="font-semibold">{{ splitTitle[0] }}</span>
        <br>
        <span class="block font-light text-slate-600">{{ splitTitle[1] }} </span>
        <span class="block font-medium text-slate-900">{{ splitTitle[2] | truncate: 35 }} </span>
        {{ splitTitle[3] | truncate: 35 }}
    {% endcase %}
  </a>
</div>
