
{% style %}
@media (min-width: 749px) {
  
  body{
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 150px;
    grid-template-areas:
    "header header"
    "main-content fixed-cart"
    "footer footer";
  }
  #shopify-section-header {
    grid-area: header;
  }
  #MainContent {
    grid-area: main-content;
  }
  #shopify-section-footer {
    grid-area: footer;
  }
  #shopify-section-fixed-cart {
    grid-area: fixed-cart;
  }
  .my-cart__items {
    opacity: 1;
    transition: opacity .2s;
  }
  body.js-ajax-cart-request-in-progress .my-cart__items {
    opacity: .7;
  }
}
{% endstyle %}

<script type="application/json" data-ajax-cart-initial-state >
  {{ cart | json }}
</script>
<script type="module">
  import { subscribeToCartAjaxRequests } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';

// Define a callback for all the Cart Ajax API requests
// It will be called BEFORE each request is getting performed
subscribeToCartAjaxRequests(( requestState, subscribeToResult ) => {

  // If the request is 'Add to cart'
  if ( requestState.requestType === 'add' ) {
    
    // Define a callback that will be called after the request is finished
    subscribeToResult( requestState => {

      // If the request is successful 
      if ( requestState.responseData?.ok ) {

        // Find out the name of the product if only one product was added to the cart
        let productName = requestState.responseData.body.title;
        if ( requestState.responseData.body.items?.length === 1 ) {
          productName = requestState.responseData.body.items[0].title;
        }

        // Show a pop-up
        {% comment %} document.getElementById('cart-notification').classList.add('animate','active'); {% endcomment %}
        var popupwin = document.getElementById('mobile-notification');
        popupwin.classList.remove('invisible');
        function new_popup() {
          setTimeout(function() { popupwin.classList.add('invisible');}, 2500);
        }
        new_popup();
        {% comment %} var popupwin = document.getElementById('cart-notification');
        popupwin.classList.add('animate','active');
        function new_popup() {
          setTimeout(function() { popupwin.classList.remove('animate', 'active');}, 1500);
        }
        new_popup(); {% endcomment %}
      }
    });
  }
});
</script>

{% comment %} <script type="application/json" data-ajax-cart-initial-state >
  {{ cart | json }}
  </script>
  <script type="module">
  {% comment %} import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'; {% endcomment %}
  import { subscribeToCartSectionsUpdate } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'
  
  subscribeToCartSectionsUpdate( sections => {
  console.log('Sections are updated: ', sections);
  
  // Place your code here
  });
  </scrip> {% endcomment %}

<form action="{{ routes.cart_url }}" id="test-cart" method="post" class="fixed transition duration-500 my-cart invisible sm:hidden md:hidden lg:visible lg:block w-[150px] pr-4 h-[70vh]">
<!-- data-ajax-cart-section makes the element's HTML update
when the cart gets changed -->
<div data-ajax-cart-section class="flex flex-col items-center {%if cart == empty %}invisible{% endif %}">
{%if cart == empty%}
  {%style%}
    @media (min-width: 749px) {
      body{
        grid-template-columns: 1fr 0px;
      }
    }
    {%endstyle%}
{%endif%}
<h4>Subtotal: {{ cart.total_price | money }}</h4>
<button type="submit" id="checkout" class="lt-cardbutton mb-4" name="checkout">
  {{ 'sections.cart.checkout' | t }}
</button>

<!-- data-ajax-cart-section-scroll keeps the scroll position unchanged
when the element's HTML is changed -->
<div class="my-cart__items overflow-y-scroll h-[80vh] hiddenscroll" data-ajax-cart-section-scroll>
  {% for item in cart.items %}
    <div class="flex flex-col mb-6 group">
      {% assign item_index = forloop.index %}
        
        {% if item.image %}
          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
          <a href="{{ item.url }}" class="text-slate-700" tabindex="-1" aria-hidden="true">
          <div class="relative transition duration-500">
            <div class="w-full h-full">
              <img class="relative cart-item__image object-contain aspect-square self-center max-h-[140px] max-w-[130px]"
                src="{{ item.image | image_url: width: 150 }}"
                alt="{{ item.image.alt | escape }}"
                loading="lazy"
                
              >
              <div class="absolute w-10 h-10 rounded-full bg-rose-100 text-slate-800 right-2 top-2 text-center">
                <div class="w-full h-full grid place-items-center rotate-6 font-semibold">x{{ item.quantity }}</div>
              </div>
            </div>

            {% unless item.product.tags contains 'not for sale' %}
              <div class="absolute w-full h-1/4 bg-gray-200 bottom-0 flex flex-nowrap justify-center items-center invisible group-hover:visible transition duration-500">
                <a data-ajax-cart-request-button
                  href="{{ item.url_to_remove }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}"
                  class="text-3xl font-extrabold w-6 no-underline basis-1/3 text-center text-slate-800 hover:text-lime-500 hover:text-4xl">
                  +
                </a>
                <a data-ajax-cart-request-button
                  href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}"
                  class="text-3xl font-extrabold w-6 no-underline basis-1/3 text-center text-slate-800 hover:text-lime-500 hover:text-4xl" >
                  -
                </a>
                <a data-ajax-cart-request-button href="{{ item.url_to_remove }}" 
                  class="text-3xl font-extrabold w-6 no-underline basis-1/3 text-center text-red-600 hover:text-lime-500 hover:text-4xl">
                  x
                </a>
              </div>
            {%endunless%}
          </div>
          </a>
        {%else%}
        <a href="{{ item.url }}" class="text-slate-700" tabindex="-1" aria-hidden="true">
          <div class="text-lg px-4">{{item.title}}</div>
        </a>
        {% endif %}

        <div class="text-xl font-bold mt-3 text-center">
          {% if item.final_price != item.original_price %}
          <span class="line-through text-slate-400 text-sm">{{ item.original_price | money }}</span> 
          <span class="text-lg">{{ item.final_price | money }}</span>
          <span class="block text-base text-slate-600">Discount Applied</span>
          {%- else -%}
          <span class="text-xl">{{ item.final_price | money }}</span>
          {% endif %}
          {% if item.quantity > 1 %}
            <span> (x{{item.quantity}})</span>
          {% endif %}
        </div>

        

      {% comment %} <div class=""><a href="{{ item.url }}" class="text-lg break cart-item__name">{{ item.title }}</a></div> {% endcomment %}
      
      <!-- Container for errors -->
      <div data-ajax-cart-messages="{{ item.key }}"></div>
      {% comment %} <div>Total: <strong>{{ item.final_line_price | money }}</strong></div> {% endcomment %}
    </div>
  {% endfor %}
</div>



<!-- data-ajax-cart-static-element keeps the container unchanged
when the cart and the surrounding HTML get updated -->
<div data-ajax-cart-static-element class="my-cart__app-container"></div>


</div>
</form>