
{% style %}
@media (min-width: 1024px) {
  
  body{
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 130px;
    grid-template-areas:
    "header header"
    "main-content fixed-cart"
    "footer footer";
  }
  #shopify-section-header {
    grid-area: header;
  }
  #MainContent {
    grid-area: main-content;
  }
  #shopify-section-footer {
    grid-area: footer;
  }
  #shopify-section-fixed-cart {
    grid-area: fixed-cart;
  }
  .my-cart__items {
    opacity: 1;
    transition: opacity .2s;
  }
  body.js-ajax-cart-request-in-progress .my-cart__items {
    opacity: .7;
  }
}
{% endstyle %}

<script type="application/json" data-ajax-cart-initial-state >
  {{ cart | json }}
</script>
<script type="module">
  import { subscribeToCartAjaxRequests } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
// Define a callback for all the Cart Ajax API requests
// It will be called BEFORE each request is getting performed
subscribeToCartAjaxRequests(( requestState, subscribeToResult ) => {

  // If the request is 'Add to cart'
  if ( requestState.requestType === 'add' ) {
    
    // Define a callback that will be called after the request is finished
    subscribeToResult( requestState => {

      // If the request is successful 
      if ( requestState.responseData?.ok ) {

        // Find out the name of the product if only one product was added to the cart
        let productName = requestState.responseData.body.title;
        if ( requestState.responseData.body.items?.length === 1 ) {
          productName = requestState.responseData.body.items[0].title;
        }

        // Show a pop-up
        {% comment %} document.getElementById('cart-notification').classList.add('animate','active'); {% endcomment %}
        var popupwin = document.getElementById('mobile-notification');
        var dawnNotification = document.getElementById("cart-notification")
        //dawnNotification.classList.add('active', 'animate');
        popupwin.classList.remove('invisible');
        function new_popup() {
          setTimeout(function() { popupwin.classList.add('invisible');}, 3000);
          //setTimeout(function() { dawnNotification.classList.remove('active', 'animate');}, 2500);
        }
        new_popup();
        {% comment %} var popupwin = document.getElementById('cart-notification');
        popupwin.classList.add('animate','active');
        function new_popup() {
          setTimeout(function() { popupwin.classList.remove('animate', 'active');}, 1500);
        }
        new_popup(); {% endcomment %}
      }
    });
  }
});


</script>


{% comment %} <script type="application/json" data-ajax-cart-initial-state >
  {{ cart | json }}
  </script>
  <script type="module">
  {% comment %} import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'; {% endcomment %}
  import { subscribeToCartSectionsUpdate } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}'
  
  subscribeToCartSectionsUpdate( sections => {
  console.log('Sections are updated: ', sections);
  
  // Place your code here
  });
  </scrip> {% endcomment %}

<form action="{{ routes.cart_url }}" id="test-cart" method="post" class="transition duration-500 my-cart w-[130px] right-0 pr-4 h-[70vh] invisible lg:visible sticky">
<!-- data-ajax-cart-section makes the element's HTML update
when the cart gets changed -->
<div data-ajax-cart-section class="flex flex-col items-center {% if cart == empty %}invisible{% endif %}">
{% if cart == empty %}
  {% style %}
    @media (min-width: 1024px) {
      body{
        grid-template-columns: 1fr 0px;
      }
      #shopify-section-fixed-cart {
        display: none;
      }
    }
    {% endstyle %}
{% endif %}
<h4 class="text-center">Subtotal: {{ cart.total_price | money }}</h4>
{% comment %} <button type="submit" id="checkout" class="mb-4 lt-cardbutton" name="checkout">
  {{ 'sections.cart.checkout' | t }}
</button> {% endcomment %}

<a href="{{ routes.cart_url }}" class="mb-4 text-xl lt-cardbutton unstyled">View Cart</a>

<!-- data-ajax-cart-section-scroll keeps the scroll position unchanged
when the element's HTML is changed -->
<div class="my-cart__items overflow-y-scroll h-[80vh] hiddenscroll" data-ajax-cart-section-scroll>
  {% for item in cart.items %}
    <div class="flex flex-col mb-6 divide-y group">
      {% assign item_index = forloop.index %}
        
          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
          <a href="{{ item.url }}" class="text-slate-700" tabindex="-1" aria-hidden="true">
          <div class="relative transition duration-500">
            {% if item.image %}
            <div class="w-full h-full">
              <img class="relative cart-item__image aspect-square self-center max-h-[120px] max-w-[120px] object-contain"
                src="{{ item.image | image_url: width: 150 }}"
                alt="{{ item.image.alt | escape }}"
                loading="lazy"
                
              >
              <div class="absolute w-10 h-10 text-center rounded-full bg-rose-100 text-slate-800 right-2 top-2">
                <div class="grid w-full h-full font-semibold place-items-center rotate-6">x{{ item.quantity }}</div>
              </div>
            </div>
            {% else %}
              <div class="w-full h-full">
                <a href="{{ item.url }}" class="text-slate-700" tabindex="-1" aria-hidden="true">
                  <div class="px-4 text-lg">{{ item.title }}</div>
                </a>
                {%- comment -%} <div class="absolute w-10 h-10 text-center rounded-full bg-rose-100 text-slate-800 right-2 top-2">
                  <div class="grid w-full h-full font-semibold place-items-center rotate-6">x{{ item.quantity }}</div>
                </div> {%- endcomment -%}
              </div>
              
            {% endif %}
            {% unless item.product.tags contains 'not for sale' %}
              <div class="absolute bottom-0 flex items-center justify-center invisible w-full transition duration-500 bg-gray-200 h-1/4 flex-nowrap group-hover:visible">
                <a data-ajax-cart-request-button
                  href="{{ item.url_to_remove }}?line={{ item_index }}&quantity={{ item.quantity | plus: 1 }}"
                  class="w-6 text-3xl font-extrabold text-center no-underline basis-1/3 text-slate-800 hover:text-lime-500 hover:text-4xl">
                  +
                </a>
                <a data-ajax-cart-request-button
                  href="{{ routes.cart_change_url }}?line={{ item_index }}&quantity={{ item.quantity | minus: 1 }}"
                  class="w-6 text-3xl font-extrabold text-center no-underline basis-1/3 text-slate-800 hover:text-lime-500 hover:text-4xl" >
                  -
                </a>
                <a data-ajax-cart-request-button href="{{ item.url_to_remove }}" 
                  class="w-6 text-3xl font-extrabold text-center text-red-600 no-underline basis-1/3 hover:text-lime-500 hover:text-4xl">
                  x
                </a>
              </div>
              {% else %}
              <div class="absolute w-full h-[3rem] bg-gray-200 bottom-0 flex flex-nowrap justify-center items-center invisible group-hover:visible transition duration-500">
                
                <a data-ajax-cart-request-button href="{{ item.url_to_remove }}" 
                  class="w-6 text-3xl font-extrabold text-center text-red-600 no-underline basis-1/3 hover:text-lime-500 hover:text-4xl">
                  x
                </a>
              </div>
            {% endunless %}
          </div>
          </a>
        {%- comment -%} {%else%}
        <a href="{{ item.url }}" class="text-slate-700" tabindex="-1" aria-hidden="true">
          <div class="px-4 text-lg">{{item.title}}</div>
        </a>
        {% endif %} {%- endcomment -%}
        {% unless item.product.tags contains 'not for sale' %}
        <div class="mt-3 text-xl font-bold text-center">
          {% if item.final_price != item.original_price %}
          <span class="text-sm line-through text-slate-400">{{ item.original_price | money }}</span> 
          <span class="text-lg">{{ item.final_price | money }}</span>
          <span class="block text-base text-slate-600">Discount Applied</span>
          {%- else -%}
          <span class="text-xl">{{ item.final_price | money }}</span>
          {% endif %}
          {% if item.quantity > 1 %}
            <span> (x{{ item.quantity }})</span>
          {% endif %}
        </div>
      {% endunless %}
        

      {% comment %} <div class=""><a href="{{ item.url }}" class="text-lg break cart-item__name">{{ item.title }}</a></div> {% endcomment %}
      
      <!-- Container for errors -->
      <div data-ajax-cart-messages="{{ item.key }}"></div>
      {% comment %} <div>Total: <strong>{{ item.final_line_price | money }}</strong></div> {% endcomment %}
    </div>
  {% endfor %}
</div>



<!-- data-ajax-cart-static-element keeps the container unchanged
when the cart and the surrounding HTML get updated -->
<div data-ajax-cart-static-element class="my-cart__app-container"></div>


</div>
</form>
