{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
<style>
  .DELLT_imgContainer li:first-child {
    visibility: visible;
  }
  
</style>

<main class="relative w-full h-full mx-auto bg-gradient-to-br from-rose-200 to-amber-200">
  <header class="top-0 left-0 border-0 LT_waveDivider">
    {% render 'divider-wave', fill_color: 'amber' %}
  </header>
  
  <section class="relative w-full pt-[12%] pb-[5%] pl-[10vw] mx-auto max-w-[1200px]">
    <div class="flex flex-col gap-2">
      <div class="relative flex h-4 gap-2">
        <div class="w-40 color_bar bg-gradient-to-r from-yellow-200 to-orange-300"> </div>
        <div class="color_bar2 w-[10%] bg-gradient-to-r from-gray-200 to-gray-400"> </div>
        <div class="w-1/6 color_bar bg-gradient-to-r from-teal-300 to-teal-400"> </div>
      </div>
      <div class="relative flex h-4 gap-2">
        <div class="color_bar2 w-[15%] bg-gradient-to-r from-lime-200 to-lime-300"> </div>
        <div class="color_bar2 w-[10%] bg-gradient-to-r from-amber-300 to-amber-400"> </div>
        <div class="color_bar w-[17%] bg-gradient-to-r from-stone-400 to-stone-400"> </div>
      </div>
      <div class="relative flex h-4 gap-2">
        <div class="color_bar2 w-[4%] bg-gradient-to-r from-rose-200 to-rose-300"> </div>
        <div class="color_bar w-[9%] bg-gradient-to-r from-pink-300 to-purple-300"> </div>
        <div class="color_bar2 w-[12%] bg-gradient-to-r from-teal-400 to-green-400"> </div>
      </div>
      <div class="relative flex h-4 gap-2 left-10">
        <div class="color_bar2 w-[8%] bg-gradient-to-r from-red-400 to-orange-400"> </div>
        <div class="w-4 rounded-full color_bar2 bg-gradient-to-r from-cyan-300 to-emerald-400"> </div>
        <div class="color_bar w-[13%] bg-gradient-to-r from-yellow-400 to-orange-400"> </div>
      </div>
      <div
        class="block text-[10vw] font-extrabold leading-normal lg:leading-[2] text-transparent lg:text-8xl bg-gradient-to-r from-rose-400 to-violet-500 bg-clip-text">
        The Asian Pop Project</div>
      <div class="flex flex-wrap w-[70%] lg:w-[40%] text-base md:text-xl lg:text-2xl pb-2">Lil&apos;Thingamajigs online
        store is the best place to find all of the trendy Asian products you love.</div>

        <!-- <div class="relative grid w-full grid-cols-4 grid-rows-5 h-[15rem] gap-8">
        <div class="relative flex flex-col justify-end col-span-1 row-span-4 row-start-1 border-0 border-b-4 border-solid bg-rose-100 box1 group hover:bg-rose-200 border-b-red-700 hover:shadow-lg">
          <div class="flex justify-between">
            <div>Anime</div>
            <div>Arrow</div>
          </div>
          <img src="{{collections['demon-slayer'].image | image_url: width: 150, height:150 }}" alt="" class="absolute invisible duration-500 rounded-full group-hover:visible group-hover:duration-500 group-hover:translate-x-[150px]">
          <img src="{{collections['one-piece'].image | image_url: width: 150, height:150 }}" alt="" class="absolute invisible duration-500 rounded-full group-hover:visible group-hover:duration-500 group-hover:translate-x-[300px]">
        </div>
        <div class="col-span-1 row-span-4 row-start-2 bg-green-200 box2">K-Pop</div>
        <div class="col-span-1 row-span-4 row-start-1 bg-red-200 box3">Model Kit</div>
        <div class="col-span-1 row-span-4 row-start-2 bg-yellow-200 box4">Majigs</div>
      </div>         -->
      
      <div class="relative flex h-4 gap-2">
        <div class="color_bar w-[15%] bg-gradient-to-r from-slate-400 to-slate-600"> </div>
        <div class="w-4 rounded-full color_bar bg-gradient-to-r from-purple-300 to-purple-400"> </div>
        <div class="color_bar2 w-[18%] bg-gradient-to-r from-amber-300 to-amber-500"> </div>
      </div>
      <div class="relative flex h-4 gap-2 left-4">
        <div class="color_bar w-[14%] bg-gradient-to-r from-indigo-300 to-sky-400"> </div>
        <div class="color_bar2 w-[22%] bg-gradient-to-r from-lime-300 to-lime-400"> </div>
        <div class="color_bar w-[12%] bg-gradient-to-r from-violet-300 to-fuchsia-400"> </div>
      </div>
      <div class="relative flex h-4 gap-2">
        <div class="color_bar2 w-[9%] bg-gradient-to-r from-blue-300 to-blue-500"> </div>
        <div class="color_bar2 w-[9%] bg-gradient-to-r from-red-300 to-red-500"> </div>
        <div class="color_bar w-[12%] bg-gradient-to-r from-violet-300 to-purple-300"> </div>
      </div>
      <div class="relative flex h-4 gap-2">
        <div class="color_bar w-[14%] bg-gradient-to-r from-neutral-300 to-neutral-500"> </div>
        <div class="color_bar w-[17%] bg-gradient-to-r from-green-300 to-green-500"> </div>
        <div class="color_bar2 w-[10%] bg-gradient-to-r from-blue-300 to-blue-400"> </div>
      </div>
    </div>
  </section>


  <!-- monthly promotion banner  -->
  <section class="flex flex-col w-[95%] md:w-11/12 mx-auto max-w-[1200px] pt-[8vh]">
        
    <div class="flex flex-col flex-wrap items-center justify-center w-full p-10 md:justify-evenly md:flex-row gap-6">
      {%- comment -%} 

      <div class="grid w-full bg-cover rounded-lg md:w-[30%] md:h-[300px] place-items-center outline outline-cyan-400">
        <div class="flex flex-col justify-between w-11/12 gap-6 py-10 text-center rounded-md h-full">
          <div class="text-4xl md:text-5xl font-bold text-cyan-600">CYBER MONDAY</div>
          <div class="text-xl md:text-3xl font-semibold text-slate-600">Up to 50% Off</div>
          <div class="text-xl text-slate-700 font-semibold">Sale starts on Nov 25th through 28th</div>
          <a href="{{ collections['black-friday-cyber-monday-sale'].url }}" class="mt-4 no-underline">
            <span class="w-3/4 px-4 py-2 mx-auto my-6 text-xl bg-cyan-400 text-slate-700 rounded-xl drop-shadow-lg hover:bg-cyan-200">SALE</span>
          </a>
          <div class="text-base md:text-xl">Discount automatically applies</div>
          
        </div>
      </div>
      <div class="grid w-full bg-cover rounded-lg md:w-[30%] md:h-[300px] place-items-center outline outline-purple-400">
        <div class="flex flex-col justify-between w-11/12 gap-6 py-10 text-center rounded-md h-full">
          <div class="text-4xl md:text-5xl font-bold text-purple-600">ALL STATIONERY</div>
          <div class="text-xl md:text-3xl font-semibold text-slate-600">20% OFF</div>
          <div class="text-xl text-slate-700 font-semibold">Sale starts on Nov 25th through 28th</div>
          <a href="{{ collections['stationery'].url }}" class="mt-4 no-underline">
            <span class="w-3/4 px-4 py-2 mx-auto my-6 text-xl bg-purple-400 text-slate-700 rounded-xl drop-shadow-lg hover:bg-purple-200">SALE</span>
          </a>
          <div class="text-base md:text-xl">Discount automatically applies</div>
        </div>
      </div>
      <div class="grid w-full bg-cover rounded-lg md:w-[30%] md:h-[300px] place-items-center outline outline-teal-400">
        <div class="flex flex-col justify-between w-11/12 gap-6 py-10 text-center rounded-md h-full">
          <div class="text-4xl md:text-5xl font-bold text-teal-600">ALL PLUSH</div>
          <div class="text-xl md:text-3xl font-semibold text-slate-600">20% OFF</div>
          <div class="text-xl text-slate-700 font-semibold">Sale starts on Nov 25th through 28th</div>
          <a href="{{ collections['plush'].url }}" class="mt-4 no-underline">
            <span class="w-3/4 px-4 py-2 mx-auto my-6 text-xl bg-teal-400 text-slate-700 rounded-xl drop-shadow-lg hover:bg-teal-200">SALE</span>
          </a>
          <div class="text-base md:text-xl">Discount automatically applies</div>
        </div>
      </div>
      {%- endcomment -%}

      {%- comment -%} flash sale box {%- endcomment -%}
      <div class="grid w-full rounded-lg md:w-[30%] h-[300px] outline outline-red-600 relative">
        {% assign saleitem = collections['flashsale'].products %}
        {% assign saving = saleitem[0].compare_at_price | minus: saleitem[0].price %}
        {% assign amount = saving | at_least: amount %}
        {% capture saved_amount %}{{ amount | money_without_trailing_zeros }} {% endcapture %}
        <img src="{{ saleitem[0].featured_media | image_url: height: 225 }}" alt="" class="max-w-[250px] max-h-[225px] absolute place-self-start justify-self-center object-cover top-5">
        <div class="absolute top-2 right-2 text-lg p-2 text-red-700 font-semibold">
          <div>Only {{ saleitem[0].selected_or_first_available_variant.inventory_quantity }} left </div>
        </div>
        <div class="flex flex-col justify-end items-center w-11/12 gap-6 py-4 text-center rounded-md h-11/12 mx-auto">
          <div class="bg-rose-200/50 rounded shadow w-full p-4">
            <a href="{{ saleitem[0].url }}" class="mt-4 no-underline relative">
            <div class="text-4xl md:text-6xl font-bold text-rose-600 relative w-full">
              Flash Sale
            </div>
              <div class="text-lg text-slate-700">{{ saleitem[0].title | remove: " -" }}</div>
              <div class="">
                {% if saleitem[0].selected_or_first_available_variant.inventory_quantity > 0 %}
                  <span class="text-base line-through text-red-400">{{saleitem[0].compare_at_price | money }}</span>
                  <span class="text-2xl font-semibold text-slate-900">{{saleitem[0].price | money}}</span>
                {% else %}
                  <span>Sold Out</span>
                {% endif %}
              </div>
            </a>
            </div>
          </div>
        </div>
      
      {%- comment -%} <div class="grid w-full bg-cover rounded-lg md:w-[30%] md:h-[300px] place-items-center outline outline-rose-400">
        <div class="flex flex-col justify-between w-11/12 gap-6 py-10 text-center rounded-md h-11/12">
          <div class="text-4xl md:text-6xl font-bold text-rose-600">Popup Parade Figures</div>
          <div class="text-xl md:text-3xl font-semibold text-slate-600">BUY 1 GET 1 50% OFF</div>
          <div class="text-base md:text-xl font-semibold">Discount automatically applies</div>
          <a href="{{ collections['popup-parade'].url }}" class="mt-4 no-underline">
            <span class="w-3/4 px-4 py-2 mx-auto my-6 text-xl bg-rose-400 text-slate-700 rounded-xl drop-shadow-lg hover:bg-rose-200">View Collection</span>
          </a>
        </div>
      </div> {%- endcomment -%}
      <div class="grid w-full bg-cover rounded-lg md:w-[30%] md:h-[300px] place-items-center outline outline-indigo-700">
        <div class="flex flex-col justify-between  w-11/12 gap-6 py-10 text-center rounded-md h-11/12">
          <div class="text-4xl md:text-6xl font-bold text-indigo-600">MIX & MATCH STICKER</div>
          <div class="text-xl md:text-3xl font-semibold">BUY 5 GET 1 FREE</div>
          <div class="text-base md:text-xl font-semibold">Discount automatically applies</div>
          <a href="{{ collections['sticker'].url }}" class="mt-4 no-underline">
            <span class="w-3/4 px-4 py-2 mx-auto my-6 text-xl bg-indigo-400 hover:bg-indigo-200 rounded-xl drop-shadow-lg">Sticker Collection</span>
          </a>
        </div>
      </div>
      <!-- pencil promotion  -->
      <div class="grid w-full bg-cover rounded-lg md:w-[30%] md:h-[300px] place-items-center outline outline-green-700">
        <div class="flex flex-col justify-between w-11/12 gap-8 py-10 text-center rounded-md h-11/12">
          <div class="text-3xl md:text-5xl font-bold text-green-600">25% off Writing Material</div>
          <div class="text-xl md:text-2xl font-semibold">Minimum Purchase of 10 items</div>
          <div class="text-base md:text-3xl font-semibold">Discount Code: PEN25</div>
          <a href="{{ collections['writing-material'].url }}" class="no-underline">
            <span class="w-3/4 px-4 py-2 mx-auto my-6 text-xl bg-green-400 hover:bg-green-200 rounded-xl drop-shadow-lg">Writing Material</span>
          </a>
        </div>
      </div>
    </div>
  </section>  

<!--Popup parade left image banner -->
<a href="{{ collections['popup-parade'].url }}" class="no-underline">
  <section id="popup_banner"
    class="db_banner group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[200px] sm:h-[300px] md:h-[400px] relative max-w-[1200px]">
    <div
      class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-1 row-span-3 row-start-1 lg:col-start-2">
      <a href="{{ collections['popup-parade'].url }}" class="after:absolute after:inset-0">
        <img src="{{'LT_popupBanner.png' | asset_img_url:'400x' }}" alt=""
          class="absolute origin-bottom bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 duration-500" loading="lazy">
      </a>
    </div>
    <div
      class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-pink-200 to-pink-400 col-span-full group-hover:duration-1000">
      <div class="flex flex-row-reverse h-full">
        <div class="flex flex-col w-[45%]  justify-center items-center gap-4">
          <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-sky-500 to-indigo-700">Popup Parade Figures</div>
          <div class="w-11/12 pb-2 pl-4 text-sm font-semibold leading-normal text-xl md:text-xl lg:text-3xl">Limited Time</div>
          <div class="w-11/12 pb-2 pl-4 text-sm font-semibold leading-normal text-xl md:text-xl lg:text-3xl">Buy 1 Get 1 50% OFF</div>
        </div>
      </div>
    </div>
    </div>
  </section>
</a>

  {%- comment -%} youtube promotion {%- endcomment -%}
  <section class="mx-auto flex flex-col max-w-[1200px] gap-8 bg-transparent justify-evenly rounded my-10 p-6 shadow">
    <div class="flex flex-col items-center justify-center md:items-baseline md:justify-center md:flex-row">
      <img src="{{ 'yt_logo_rgb_light.png' | asset_img_url: '200x' }}" alt="" class="w-[150px] mr-10 translate-y-1">
      <p class="text-3xl font-bold text-gray-800 md:text-5xl"><a href="{{blogs['youtube-giveaway'].url}}" class="text-gray-800">Unboxing & Giveaway</a></p>
      <!-- <p class="invisible md:visible">Check out our youtube channel and win giveaway prize</p> -->
    </div>
    
    <!-- <div class="px-4 h-full aspect-vertical md:h-[350px] md:w-[200px] md:aspect-square rounded-md">
      <iframe class="w-full h-full rounded-lg" src="https://www.youtube.com/embed/BRyquJqshXE?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0&player=html5" frameborder="0" ></iframe>
    </div> -->
      <div class="flex flex-wrap justify-evenly">
        <div><a href="https://www.youtube.com/channel/UCRvt577oeU913_MKvJqrWZA?sub_confirmation=1" target="_blank"><img src="{{ 'LT_youtube_giveaway.jpg' | asset_img_url: '350x' }}" alt="" class="aspect-square"></a></div>
        {% for article in section.settings.blog.articles limit:2 %}
        <!-- {% assign article = articles['youtube-giveaway/youtube-giveaway-5'] %} -->
        <div class="flex flex-col rounded-md w-11/12 md:w-[30%] aspect-square">
          <iframe class="w-full h-full rounded-md" src="{{ article.metafields.custom.youtube_link | replace: "youtu.be/", "www.youtube.com/embed/" | append: "?rel=0&modestbranding=1&autohide=1&showinfo=1&controls=0"}}" frameborder="0" ></iframe>
          <h3 class="text-center">{% if article.metafields.custom.giveaway_winner %} Winner: {{ article.metafields.custom.giveaway_winner }} {% else %} <a href="{{article.metafields.custom.youtube_link}}" target="_blank">Enter Giveaway</a> {% endif %}</h3>
        </div>
          <!-- {{ article.excerpt }}
          Winner: {% if article.custom.giveaway_winner %} {{ article.custom.giveaway_winner }}{% else %} TBA {% endif %} -->
        
        {% endfor %}
      </div>
  </section>
  
  
  
  <!-- LT Difference Point out -->
  <section id="LT_difference"
    class="flex flex-col w-[95%] md:w-11/12 mx-auto max-w-[1200px] rounded-lg bg-gradient-to-br from-sky-200 to-indigo-400 drop-shadow-lg mt-[5vh]">
    <div class="sectiontitle">
      <h2 class="text-3xl font-semibold text-center md:text-5xl">Lil&apos;Thingamajigs Difference</h2>
    </div>
    <div class="flex flex-col w-full md:flex-row justify-evenly">
      <div class="flex items-center w-full md:w-[30%] flex-col p-2">
        <div class="flex items-center justify-center gap-4 px-2 ">
          <img src="{{'free-delivery.png' | asset_img_url: '50x'}}" alt="" class="w-14 lg:w-20" loading="lazy">
          <h4 class="text-xl font-semibold md:text-2xl text-neutral-700">Free Shipping</h4>
        </div>
        <p class="px-4 text-base md:text-lg lg:text-xl">Free shipping on orders over $60. Order place by 10AM EST (Mon-Fri) will ship the same
          day.</p>
      </div>
      <div class="flex flex-col w-full md:w-[30%] p-2">
        <div class="flex items-center justify-center gap-4 px-2">
          <img src="{{'authentic.png' | asset_img_url: '50x'}}" alt="" class="w-14 lg:w-20" loading="lazy">
          <h4 class="text-xl font-semibold md:text-2xl text-neutral-700">Authenticity</h4>
        </div>
        <p class="px-4 text-base md:text-lg lg:text-xl">Only the highest-quality oficially licensed merchandise</p>
      </div>
      <div class="flex flex-col p-2 md:w-[30%] w-full">
        <div class="flex items-center justify-center gap-4 px-2 ">
          <img src="{{'live-chat.png' | asset_img_url: '50x'}}" alt="" class="w-14 lg:w-20" loading="lazy">
          <h4 class="text-xl font-semibold md:text-2xl text-neutral-700">Get Support</h4>
        </div>
        <p class="px-4 text-base md:text-lg lg:text-xl">Get all your questions answered for product, orders, and more.</p>
      </div>
    </div>
  </section>

  {%comment%}
  <!-- new artist: le sserafim album promo -->
  <section class="max-w-[1200px] md:w-11/12 w-[95%] max-h-[400px] aspect-[12/4] my-20 flex justify-center mx-auto bg-black/80 rounded relative">
      <img src="{{ 'lt_SserafimPromo.jpg' | asset_img_url: '600x' }}"
      alt="Le Sserafim 1st album cover poster"
      loading="lazy"
      class="object-contain max-h-[400px] w-auto">
      <div class="absolute w-full h-full text-white bg-gradient-to-r from-black/80 via-transparent to-black/80">
        <div class="flex flex-col items-center justify-between w-full h-full">
          <h4 class="font-semibold leading-[0rem] text-gray-100 pl-10">The female BTS? HYBE's First K Pop Girl Group</h4>
          <h2 class="text-center font-bold leading-[0rem] text-white block">LE SSERAFIM</h2>
          <a href="{{ all_products['k-pop-cd-le-sserafim-1st-mini-album-fearless'].url }}" class="self-center pb-20 no-underline ">
            <div class="px-2 py-1 text-teal-300 rounded-md hover:bg-teal-300 hover:text-black hover:duration-300 outline outline-1 outline-teal-300">View</div>
          </a>
        </div>
      </div>
  </section>
{%endcomment%}

  <!-- BTS focus slide banner  ** temp. hidden-->
  <!-- <section class="relative mx-auto max-w-[1200px] md:w-11/12 w-[95%] max-h-[400px] aspect-[12/4] overflow-hidden my-20 group">
    <a href="{{ collections['bts'].url }}" class="no-underline">
      <div
        class="absolute grid w-full h-full bg-cover rounded-lg shadow-lg place-items-center LT_btsBanner LT_btsBanner01"
        style="background-image: url('{{ 'LT_btsBanner.jpg' | asset_img_url:'1200x' }}');">
        <div class="flex flex-col self-end">
          <h2
            class="text-2xl font-semibold text-center text-transparent sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-r group-hover:bg-gradient-to-l from-pink-500 to-violet-500">
            BTS Collection</h2>
          <p class="inline-block py-2 text-base text-center bg-purple-400 rounded-lg text-lt-white sm:text-lg md:text-xl lg:text-3xl">SHOP COLLECTION</p>
        </div>
      </div>
      <div class="absolute grid w-full h-full bg-center bg-cover rounded-lg shadow-lg place-items-center LT_btsBanner LT_btsBanner02"
        style="background-image: url('{{ 'LT_btsAlbums.jpg' | asset_img_url:'1200x' }}');" data-src="{{ asset_img_url }}" data-width="[500, 1200]" data-aspectratio="12/4" data-sizes="auto" data-parent-fit="cover">
        <p></p>
      </div>
    </a>
  </section> -->

  <!--DragonBall left image banner -->
  <section id="db_banner"
    class="db_banner group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] relative max-w-[1200px]">
    <div
      class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-1 row-span-3 row-start-1 lg:col-start-2">
      <a href="{{ collections['dragon-ball-merch'].url }}" class="after:absolute after:inset-0">
        <img src="{{'LT_dbBanner.png' | asset_img_url: '400x' }}" alt=""
          class="absolute origin-bottom group-hover:scale-105 bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 duration-500" loading="lazy">
      </a>
    </div>
    <div
      class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-orange-300 to-red-300 col-span-full group-hover:duration-1000">
      <div class="flex flex-row-reverse h-full">
        <div class="flex flex-col w-[45%] pr-2 justify-center gap-4">
          <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-red-400 to-red-700">Featured Collection</div>
          <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl">Build a dream collection. Find everything you need
            to build the ultimate figure collection.</div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Figuarts Mini -->
  <a href="{{ collections['figuarts-mini'].url }}" class="no-underline">
    <section class="mx-auto max-w-[1200px] w-[95%] md:w-11/12 aspect-[12/4] overflow-hidden my-20 group relative rounded grid place-items-center">
      <div class="absolute bottom-0 w-full rounded bg-gradient-to-r from-gray-500 to-green-400 h-2/3">
      </div>
      <div class="absolute bottom-0 w-11/12">
        <img src="{{ 'LT_figuartsminiDS.png' | asset_img_url: 'x400' }}" alt="" class="object-contain w-full h-full duration-500 group-hover:scale-105 group-hover:duration-1000">
      </div>
      <p class="left-[2%] top-1/2 w-[30%] md:visible invisible absolute p-4 bg-gray-400/75 text-gray-800 text-base md:text-xl lg:text-2xl rounded-lg">Figuarts Mini captures the charm of your favorite characters in a stylized palm size!</p>
    
    </section>
  </a>

  <!--Demon Slayer right side image banner -->
  <a href="{{ collections['demon-slayer'].url }}" class="no-underline">
    <section id="ds_banner"
      class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
      <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-6 row-span-3 row-start-1">
        <img src="{{'LT_dsBanner.png' | asset_img_url:'400x' }}" alt=""
          class="absolute bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500" loading="lazy">
      </div>
      <div
        class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-green-300 to-yellow-300 col-span-full">
        <div class="flex flex-row h-full">
          <div class="flex flex-col w-[55%] justify-center gap-4">
            <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-indigo-300 to-indigo-700">Viral
              Sensation!</div>
              <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl">The most successful
                Japanese film of all time. Time to slay some demons! Check out the must-have Demon Slayer collectibles</d>
          </div>
        </div>
      </div>
    </section>
  </a>

  

  <!--Twice right side image banner -->
<!--   
  <a href="{{ collections['twice'].url }}" class="no-underline">
    <section id="ds_banner"
      class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
      <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-6 row-span-3 row-start-1">
        <img src="{{'LT_twiceCutout.png' | asset_img_url:'400x' }}" alt=""
          class="absolute bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500" loading="lazy">
      </div>
      <div
        class="row-span-2 row-start-2 bg-center bg-no-repeat bg-cover rounded-lg shadow-lg col-span-full " style="background-image:url('{{'LT_twiceBg3.jpg' | asset_img_url:'1200x'}}');">
        <div class="flex flex-row h-full bg-gradient-to-b from-rose-200/30 to-rose-200/90">
          <div class="flex flex-col w-[55%] justify-center text-slate-900 gap-4">
            <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-pink-800 to-pink-400">TWICE</div>
            <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl">I got the feels for you, yeah, yeah, yeah, yeah!</div>
            <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl testApply">Find all Twice albums</div>
          </div>
        </div>
      </div>
    </section>
  </a> -->

  
  <!--Gundam left image banner -->
  <a href="{{ collections['gundam-model-kit'].url }}" class="no-underline">
    <section id="gundam_banner"
      class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
      <div
        class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-1 row-span-3 row-start-1 lg:col-start-2">
        <img src="{{'LT_gundam.png' | asset_img_url:'400x' }}" alt=""
          class="absolute pl-2 bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500">
      </div>
      <div
        class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-red-200 to-red-400 col-span-full">
        <div class="flex flex-row-reverse h-full">
          <div class="flex flex-col w-[50%] justify-center">
            <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-slate-500 to-zinc-700">Gundam Model Kit</div>
            <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl">We offer a latest and largest selection of Gundam model kits and model kit accessories.</div>
          </div>
        </div>
      </div>
    </section>
  </a>
  

  <!-- Kpop artist slide banner  -->
  <!-- <section
    class="relative mx-auto max-w-[1200px] md:w-11/12 w-[95%] rounded-lg shadow-lg max-h-[400px] aspect-[12/4] overflow-hidden mt-24">
    <a href="{{ collections['boy-group'].url }}" class="no-underline">
      <div class="absolute grid w-full h-full bg-cover place-items-center LT_slides LT_slide01"
        style="background-image:url('{{'LT_solomenBanner.jpg' | asset_img_url:'1200x'}}');">
        <h1
          class="self-end text-2xl font-semibold text-transparent md:text-5xl lg:text-7xl bg-gradient-to-br from-sky-400 to-sky-600 bg-clip-text">
          K-Pop Male Solo Artists</h1>
      </div>
      <div class="absolute grid w-full h-full bg-cover place-items-center LT_slides LT_slide02"
        style="background-image:url('{{'LT_solofmBanner.jpg' | asset_img_url:'1200x'}}');">
        <h1
          class="self-end text-2xl font-semibold text-transparent md:text-5xl lg:text-7xl bg-gradient-to-b from-rose-300 to-pink-500 bg-clip-text drop-shadow-lg">
          K-Pop Female Solo Artists</h1>
      </div>
    </a>
  </section> -->

  <!-- sumikko gurashi banner -->
  <!-- <a href="{{ collections['sumikko-gurashi'].url }}">
    <section class="grid place-items-center max-w-[1200px] md:w-11/12 w-[95%] mx-auto lg:pt-[5rem] pt-[2rem]">
      <img src="{{'LT_sumikkoBanner.png' | asset_img_url:'900x' }}" alt="" class="w-full h-full">
    </section>
  </a> -->

  <section class="h-[7rem] block">

  </section>
  <!-- big main banner  -->

  <!-- {% render 'LT_diffBlock' %} -->
  <footer class="bottom-0 left-0 rotate-180 LT_waveDivider">
    {% render 'divider-wave', fill_color: 'apricot' %}
  </footer>
</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/gsap.min.js" defer="defer"></script>
<script src="{{ 'LT_gsap.js' | asset_url }}" defer="defer"></script>


{% schema %}

{
    "name": "Grid Background Banner",
    "class": "section",
    "tag": "section",
    "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "t:sections.featured-blog.settings.blog.label"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Lil'Thingamajigs",
            "label": "type in banner heading"
        }
    ],
    "blocks": [
        {
            "type": "gridbackground",
            "name": "grid image",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "select a product for grid background image"
                }, {
                    "type": "range",
                    "id": "span",
                    "min": 1,
                    "max": 5,
                    "step": 1,
                    "default": 1,
                    "label": "span value"
                }, {
                    "type": "range",
                    "id": "duration",
                    "min": 10,
                    "max": 100,
                    "step": 10,
                    "default": 10,
                    "label": "duration value"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Grid Background Banner",
            "blocks": [
                {
                    "type": "gridbackground"
                }
            ]
        }
    ]
}

{% endschema %}
