<!-- single page single viewport scroll main page build -->
{% stylesheet %}
 

 
{% endstylesheet %}
<!-- multigrid big hero section with horizontal hidden scroll -->

<!-- <div class="hiddenscroll snap-x h-[70vh] overflow-x-hidden scroll-smooth grid grid-flow-col items-center scroll-mt-11 my-10 hidden"  >
    {% for block in section.blocks %}
    <div id="slide{{forloop.index}}" class="flex flex-col items-center w-screen h-[60vh] snap-center">
        <div class="grid h-[60vh] max-h-[800px] md:max-h-[1000px] w-11/12 max-w-[900px] grid-cols-4 bg-cyan-300 grid-rows-5">
            
            <div class="flex items-center justify-center col-span-2 col-start-1 bg-red-100">
                <a href="#slide{{forloop.index | plus:1}}" class="tw_controlsdot">
                    <span class="visuallyhidden2">next</span>
                </a>
                Collection</div>
            <div class="col-span-2 col-start-1 row-span-4 row-start-2 bg-amber-100">left side bottom</div>
            <div class="col-span-2 col-start-3 row-span-4 row-start-1 bg-purple-100">
            </div>
            <div  class="relative flex flex-col justify-center col-span-2 col-start-2 row-span-3 row-start-2 max-w-[400px]">
                <img src="{{block.settings.product.featured_image | img_url: '500x'}}" alt="" class="absolute w-full rounded-xl ">
            </div>
            <div class="col-span-2 col-start-3 row-span-1 row-start-5 bg-gray-100 justify-items-center" id="controls">
                    {% if forloop.index != 1 %}
                    <p class="visuallyhidden2"> <a href="#slide{{forloop.index | minus:1}}" class="">
                        prev
                    </a></p>
                    {%endif%}
                    {% unless forloop.last %}
                    <a href="#slide{{forloop.index | plus:1}}" class="">
                        <p class="visuallyhidden2">next</p>
                    </a>
                    <div>center</div>
                    {%endunless%}
            </div>
        </div>
    </div>
    {% endfor %}

</div> -->

    


<!-- grid background banner  -->
    <div class="relative h-[20vh] sm:h-[25vh] md:h-[30vh] max-h-[35vh] w-11/12 max-w-[1200px] mx-auto flex flex-col items-center justify-center bg-lt-white overflow-hidden my-4 md:my-8">
        <!-- background grid -->
        <div class="absolute inset-0 grid justify-center grid-flow-row grid-cols-5 grid-rows-3 gap-4 p-2 transform -skew-y-3 md:gap-6 grid-backgroundc">
            {% for block in section.blocks %}
            <div class="relative col-span-1 row-span-1 max-w-[300px]">
                <img src="{{block.settings.product.featured_image | img_url: '300x'}}" alt="" class="absolute object-cover object-top w-full max-w-[300px] max-h-full rounded-xl aspect-square drop-shadow-lg">
            </div> 
            
            {%endfor%}
            
        </div>
        <!-- content -->
        <div class="relative flex flex-col items-center justify-end h-full transform -skew-y-3 ">
                    <p class="p-4 text-3xl font-extrabold rounded-lg md:text-5xl lg:text-6xl text-slate-700 bg-lime-100 drop-shadow-2xl ">Lil'Thingamajigs</p>
                    <p class="p-4 text-xl font-bold rounded-lg md:text-3xl lg:text-4xl text-slate-700 bg-lime-100">The best place to find the products you love.</p>
        </div>
    <!-- <div class="absolute inset-0 w-full h-full bg-lt-white/60"></div> -->

</div>
{% javascript %}
    // grab everything we need
const gridItems = document.querySelectorAll(".grid-background > div");

// loop over grid items and create a random duration + delay for each
gridItems.forEach((item) => {
  // calculate random number for delay
  const delay = getRandomInt(0, 5);

  // calculate random number for duration
  const duration = getRandomInt(3, 6);

  // set both
  item.style.animationDelay = `${delay}s`;
  item.style.animationDuration = `${duration}s`;
});

function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

{% endjavascript %}
{% schema %}
{
"name": "Grid Background Banner",
"class": "section",
"tag": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Lil'Thingamajigs",
"label": "type in banner heading"
}
],
"blocks": [
{
"type": "gridbackground",
"name": "grid image",
"settings": [
{
"type": "product",
"id": "product",
"label": "select a product for grid background image"
},
{
"type": "range",
"id": "span",
"min": 1,
"max": 5,
"step": 1,
"default":1,
"label": "span value"
},
{
"type": "range",
"id": "duration",
"min": 10,
"max": 100,
"step": 10,
"default":10,
"label": "duration value"
}
]
}
],
"presets": [
{
"name": "Grid Background Banner",
"blocks": [
{
"type": "gridbackground"
}
]
}
]
}
{% endschema %}