{% comment %} {{ 'video-section.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
<style>
  .DELLT_imgContainer li:first-child {
    visibility: visible;
  }
</style>

<main class="relative w-full h-full mx-auto overflow-hidden bg-gradient-to-br from-pink-50 to-amber-100">
  {% comment %} <header class="top-0 left-0 border-0 LT_waveDivider">
    {% render 'divider-wave', fill_color: 'amber' %}
  </header> {% endcomment %}

  <div class="h-[22vw] sm:h-[18vw] w-full bg-gradient-to-b from-amber-100 to-transparent relative w-full overflow-hidden">
    <div class="absolute text-[9vmin] sm:text-[10vmin] w-full text-center leading-none font-bold  text-transparent bg-gradient-to-r bg-clip-text h-[10vw] from-amber-300 via-orange-400 to-amber-300 top-10 drop-shadow-xl">
      Figure BOGO 50% Off
    </div>
    {% comment %} png image scrolls {% endcomment %}
    <div class="flex banner-animation left-0 absolute pt-[5vw] sm:pt-[5vw]">
      {% comment %} loop no. 1 {% endcomment %}
      <div class="flex">
        {% assign count = 0 %}
        {% for product in collections.all.products %}
          {% if count == 10 %}
            {% break %}
          {% endif %}
          {% if product.featured_image.src contains '.png' and product.type == 'Figure' %}
            <a href="{{ product.url }}" class="">
              <img
                src="{{ product.featured_image | image_url: width: 250 }}"
                loading="lazy"
                alt=""
                width="250"
                height="250"
                class="aspect-square object-contain w-[18vw] sm:w-[13vw] h-auto relative pt-10 hover:scale-105 hover:rounded-full hover:bg-white/30 origin-bottom drop-shadow"
              >
            </a>
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}
      </div>
      {% comment %} loop no. 2 {% endcomment %}
      <div class="flex">
        {% assign count = 0 %}
        {% for product in collections.all.products %}
          {% if count == 10 %}
            {% break %}
          {% endif %}
          {% if product.featured_image.src contains '.png' and product.type == 'Figure' %}
            <a href="{{ product.url }}">
              <img
                src="{{ product.featured_image | image_url: width: 250 }}"
                loading="lazy"
                alt=""
                width="250"
                height="250"
                class="aspect-square object-contain w-[14vw] sm:w-[12vw] h-auto relative pt-10 hover:scale-110 hover:rounded-full hover:bg-gray-100/30 origin-bottom"
              >
            </a>
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

    <section class="relative flex flex-col mb-4 pt-14 page-width">
        <div class="text-[5vmin] sm:text-[4vmin] w-full text-center leading-none font-bold text-blue-300 drop-shadow-xl">
          Gundam The Witch From Mercury
        </div>
        <div class="absolute bottom-0 w-11/12 h-8 mx-auto rounded bg-blue-400/40 drop-shadow"> </div>
        {% comment %} png image scrolls {% endcomment %}
        <div class="relative flex flex-wrap items-end justify-center w-full gap-4 mt-2 overflow-hidden sm:flex-no-wrap sm:gap-8">
          {% comment %} loop no. 1 {% endcomment %}
            {% assign count = 0 %}
            {% for product in collections['the-witch-from-mercury'].products %}
              {% if count == 4 %}
                {% break %}
              {% endif %}
              {% if product.featured_image.aspect_ratio > 1 and product.selected_or_first_available_variant.inventory_quantity > 0 %}
                <a href="{{ product.url }}" class="w-[48%] lg:w-[23%]">
                  <img
                    src="{{ product.featured_image | image_url: width: 300 }}"
                    loading="lazy"
                    alt=""
                    width="300"
                    height="200"
                    class="object-contain w-full h-auto rounded aspect-video hover:scale-105 drop-shadow"
                  >
                </a>
                {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
          </div>
    </section>
    <section class="relative flex flex-col mb-4 pt-14 page-width">
        <div class="text-[5vmin] sm:text-[4vmin] w-full text-center leading-none font-bold text-purple-300 drop-shadow-xl">
          New K-Pop Albums
        </div>
        <div class="absolute bottom-0 w-11/12 h-8 mx-auto rounded bg-purple-400/40 drop-shadow"> </div>
        {% comment %} png image scrolls {% endcomment %}
        <div class="relative flex flex-wrap justify-center w-full gap-4 mt-6 overflow-hidden sm:flex-no-wrap sm:gap-8">
          {% comment %} loop no. 1 {% endcomment %}
            {% assign count = 0 %}
            {% for product in collections['new-kpop'].products %}
              {% if count == 6 %}
                {% break %}
              {% endif %}
              {% if product.featured_image.src contains '.jpg' and product.type == 'Kpop CD' %}
                <a href="{{ product.url }}" class="w-[30%] md:w-[20%] lg:w-[14%]">
                  <img
                    src="{{ product.featured_image | image_url: width: 200 }}"
                    loading="lazy"
                    alt=""
                    width="200"
                    height="200"
                    class="object-contain w-full h-auto rounded aspect-square hover:scale-105 drop-shadow"
                  >
                </a>
                {% assign count = count | plus: 1 %}
              {% endif %}
            {% endfor %}
        </div>
    </section>
    
    <section class="relative flex flex-col pt-14 page-width">
      <div class="text-[5vmin] sm:text-[4vmin] w-full text-center leading-none font-bold text-green-400 drop-shadow-xl">
        LilThinga YouTube
      </div>
      <div class="absolute bottom-0 w-11/12 h-8 mx-auto rounded bg-green-400/40 drop-shadow"> </div>
      {% comment %} png image scrolls {% endcomment %}
      <div class="relative flex flex-wrap justify-center w-full gap-4 mt-6 md:flex-no-wrap md:gap-8">
        {% comment %} loop no. 1 {% endcomment %}
          {% assign count = 0 %}
          {% for article in blogs['youtube-giveaway'].articles %}
            {% if count == 4 %}
              {% break %}
            {% endif %}
            {% if article.image %}
              <a href="{{ article.url }}" class="w-[45%] lg:w-[23%]">
                <img
                  src="{{ article.image | image_url: width: 400 }}"
                  loading="lazy"
                  alt=""
                  width="400"
                  height="200"
                  class="object-contain w-full h-auto rounded aspect-video hover:scale-105 drop-shadow"
                >
              </a>
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
      </div>
  </section>

    <section class="flex flex-col pt-14 page-width">
      {% comment %} section title  {% endcomment %}
        <div class="text-[5vmin] sm:text-[4vmin] w-full text-center leading-none font-bold text-rose-300 drop-shadow">
          Savings
        </div>
      {% comment %} blocks row  {% endcomment %}
        <div class="flex flex-wrap justify-center w-full gap-4 mt-4 overflow-hidden sm:flex-no-wrap sm:gap-8">
          
          {% comment %} 1st block  {% endcomment %}
          <div class="flex flex-col gap-2 relative w-10/12 md:w-[30%] bg-no-repeat rounded-xl bg-cover overflow-hidden" style="background-image: url('{{ 'kpop_banner_bg.jpg' | asset_url }}')">
            <a href="{{ collections['kpop-albums'].url }}" class="flex flex-col justify-around h-full no-underline after:absolute after:inset-0 bg-gray-700/20 hover:bg-gray-700/10">
            
            <div class="block text-2xl font-bold text-center text-white sm:text-4xl drop-shadow">
              <span class="block">K-Pop Albums</span>
              <span class="block">Buy 1 Get 1 50% Off</span>
            </div>
            <div class="px-2 py-4 text-base font-semibold text-center text-white md:text-xl lg:text-3xl">Don't miss your chance to save! Available only ot our online store.</div>
            </a>
          </div> 

          {% comment %} 2nd block  {% endcomment %}
          <div class="flex flex-col gap-2 relative w-10/12 md:w-[30%] bg-no-repeat rounded-xl bg-cover overflow-hidden" style="background-image: url('https://cdn.shopify.com/s/files/1/0035/0729/0161/products/45132_40641_4718.jpg?v=1675887390');">
            <a href="{{ collections['donggubat'].url }}" class="flex flex-col justify-around h-full py-4 no-underline after:absolute after:inset-0 bg-gray-700/50 hover:bg-gray-700/10">
            <div class="block text-2xl font-bold text-center text-white sm:text-4xl drop-shadow">
              <span class="block">Donggubat</span>
              <span class="block">Buy 1 Get 1 FREE</span>
            </div>
            <div class="px-2 py-4 text-base font-semibold text-center text-white md:text-xl lg:text-3xl">Plastic-free and Zero waste, Produced by Organic and Vegan Certificated Factory</div>
            </a>
          </div>

          <div class="flex flex-col items-center justify-around bg-rose-700 w-10/12 md:w-[30%] p-3 rounded-xl overflow-hidden">
            <div class="text-2xl font-semibold text-center text-white sm:text-4xl drop-shadow">Subscribe to our emails</div>
            <div class="py-4 text-lg text-center text-white sm:text-3xl">Be the first to know about new collections and exclusive offers.</div>
            {% form 'customer', class: 'newsletter-form' %}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="mx-auto newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
          </div>

        </div>
    </section>

    
      


    <!-- LT Difference Point out -->
    <section id="LT_difference" class="flex flex-col w-[95%] md:w-11/12 mx-auto max-w-[1200px] rounded-lg bg-gradient-to-br from-sky-200 to-indigo-400 drop-shadow-lg mt-[5vh]">
      <div class="sectiontitle">
        <h2 class="text-3xl font-semibold text-center md:text-5xl">Lil&apos;Thingamajigs Difference</h2>
      </div>
      <div class="flex flex-col w-full md:flex-row justify-evenly">
        <div class="flex items-center w-full md:w-[30%] flex-col p-2">
          <div class="flex items-center justify-center gap-4 px-2 ">
            <img
              src="{{ 'free-delivery.png' | asset_img_url: '50x' }}"
              alt=""
              class="w-14 lg:w-20"
              loading="lazy">
            <h4 class="text-xl font-semibold md:text-2xl text-neutral-700">Free Shipping</h4>
          </div>
          <p class="px-4 text-base md:text-lg lg:text-xl">Free shipping on orders over $60. Order place by 10AM EST (Mon-Fri) will ship the same
            day.</p>
        </div>
        <div class="flex flex-col w-full md:w-[30%] p-2">
          <div class="flex items-center justify-center gap-4 px-2">
            <img
              src="{{ 'authentic.png' | asset_img_url: '50x' }}"
              alt=""
              class="w-14 lg:w-20"
              loading="lazy">
            <h4 class="text-xl font-semibold md:text-2xl text-neutral-700">Authenticity</h4>
          </div>
          <p class="px-4 text-base md:text-lg lg:text-xl">Only the highest-quality oficially licensed merchandise</p>
        </div>
        <div class="flex flex-col p-2 md:w-[30%] w-full">
          <div class="flex items-center justify-center gap-4 px-2 ">
            <img
              src="{{ 'live-chat.png' | asset_img_url: '50x' }}"
              alt=""
              class="w-14 lg:w-20"
              loading="lazy">
            <h4 class="text-xl font-semibold md:text-2xl text-neutral-700">Get Support</h4>
          </div>
          <p class="px-4 text-base md:text-lg lg:text-xl">Get all your questions answered for product, orders, and more.</p>
        </div>
      </div>
    </section>

    
{%comment%}
    <!--DragonBall left image banner -->
      <section id="db_banner" class="db_banner group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] relative max-w-[1200px]"> <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-1 row-span-3 row-start-1 lg:col-start-2">
        <a href="{{ collections['dragon-ball-merch'].url }}" class="after:absolute after:inset-0">
          <img
            src="{{ 'LT_dbBanner.png' | asset_img_url: '400x' }}"
            alt=""
            class="absolute origin-bottom group-hover:scale-105 bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 duration-500"
            loading="lazy">
        </a>
      </div>
      <div class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-orange-300 to-red-300 col-span-full group-hover:duration-1000">
        <div class="flex flex-row-reverse h-full">
          <div class="flex flex-col w-[45%] pr-2 justify-center gap-4">
            <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-red-400 to-red-700">Featured Collection</div>
            <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl">Build a dream collection. Find everything you need
              to build the ultimate figure collection.</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Figuarts Mini -->
  <a href="{{ collections['figuarts-mini'].url }}" class="no-underline">
    <section class="mx-auto max-w-[1200px] w-[95%] md:w-11/12 aspect-[12/4] overflow-hidden my-20 group relative rounded grid place-items-center">
      <div class="absolute bottom-0 w-full rounded bg-gradient-to-r from-gray-500 to-green-400 h-2/3"> </div>
      <div class="absolute bottom-0 w-11/12">
        <img
          src="{{ 'LT_figuartsminiDS.png' | asset_img_url: 'x400' }}"
          alt=""
          loading="lazy"
          class="object-contain w-full h-full duration-500 group-hover:scale-105 group-hover:duration-1000">
      </div>
      <p class="left-[2%] top-1/2 w-[30%] md:visible invisible absolute p-4 bg-gray-400/75 text-gray-800 text-base md:text-xl lg:text-2xl rounded-lg">Figuarts Mini captures the charm of your favorite characters in a stylized palm size!</p>

    </section>
  </a>

  <!--Demon Slayer right side image banner -->
  <a href="{{ collections['demon-slayer'].url }}" class="no-underline">
    <section id="ds_banner" class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
      <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-6 row-span-3 row-start-1">
        <img
          src="{{ 'LT_dsBanner.png' | asset_img_url: '400x' }}"
          alt=""
          class="absolute bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500"
          loading="lazy">
      </div>
      <div class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-green-300 to-yellow-300 col-span-full">
        <div class="flex flex-row h-full">
          <div class="flex flex-col w-[55%] justify-center gap-4">
            <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-indigo-300 to-indigo-700">Viral
              Sensation!</div>
            <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl">The most successful
              Japanese film of all time. Time to slay some demons! Check out the must-have Demon Slayer collectibles</d>
          </div>
        </div>
      </div>
    </section>
  </a>
{%endcomment%}

  <!--Twice right side image banner -->
  <!--   
    <a href="{{ collections['twice'].url }}" class="no-underline">
    <section id="ds_banner"
    class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
    <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-6 row-span-3 row-start-1">
    <img src="{{ 'LT_twiceCutout.png' | asset_img_url: '400x' }}" alt=""
    class="absolute bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500" loading="lazy">
    </div>
    <div
    class="row-span-2 row-start-2 bg-center bg-no-repeat bg-cover rounded-lg shadow-lg col-span-full " style="background-image:url('{{ 'LT_twiceBg3.jpg' | asset_img_url: '1200x' }}');">
    <div class="flex flex-row h-full bg-gradient-to-b from-rose-200/30 to-rose-200/90">
    <div class="flex flex-col w-[55%] justify-center text-slate-900 gap-4">
    <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-pink-800 to-pink-400">TWICE</div>
    <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl">I got the feels for you, yeah, yeah, yeah, yeah!</div>
    <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl testApply">Find all Twice albums</div>
    </div>
    </div>
    </div>
    </section>
  </a> -->
  
  <!--Gundam left image banner 
  
  <a href="{{ collections['gundam-model-kit'].url }}" class="no-underline"> <section id="gundam_banner" class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
      <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-1 row-span-3 row-start-1 lg:col-start-2">
        <img
          src="{{ 'LT_gundam.png' | asset_img_url: '400x' }}"
          alt=""
          loading="lazy"
          class="absolute pl-2 bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500">
      </div>
      <div class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-red-200 to-red-400 col-span-full">
        <div class="flex flex-row-reverse h-full">
          <div class="flex flex-col w-[50%] justify-center">
            <div class="text-2xl font-semibold text-center text-transparent lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-br from-slate-500 to-zinc-700">Gundam Model Kit</div>
            <div class="w-11/12 pb-2 pl-4 text-sm font-normal leading-normal sm:text-lg md:text-xl lg:text-3xl">We offer a latest and largest selection of Gundam model kits and model kit accessories.</div>
          </div>
        </div>
      </div>
    </section>
  </a>-->


  <section class="h-[7rem] block"> </section>
  <!-- big main banner  -->

  <!-- {% render 'LT_diffBlock' %} -->
  <footer class="bottom-0 left-0 rotate-180 LT_waveDivider">
    {% render 'divider-wave', fill_color: 'apricot' %}
  </footer>
</main>


{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/gsap.min.js" defer="defer"></script>
<script src="{{ 'LT_gsap.js' | asset_url }}" defer="defer"></script> {% endcomment %}


{% schema %}

  {
    "name": "Grid Background Banner",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.featured-blog.settings.blog.label"
      }, {
        "type": "text",
        "id": "title",
        "default": "Lil'Thingamajigs",
        "label": "type in banner heading"
      }
    ],
    "blocks": [
      {
        "type": "gridbackground",
        "name": "grid image",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "select a product for grid background image"
          }, {
            "type": "range",
            "id": "span",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 1,
            "label": "span value"
          }, {
            "type": "range",
            "id": "duration",
            "min": 10,
            "max": 100,
            "step": 10,
            "default": 10,
            "label": "duration value"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Grid Background Banner",
        "blocks": [
          {
            "type": "gridbackground"
          }
        ]
      }
    ]
  }
{% endschema %}
