<style>
.color_bar {
}
</style>

<main class="relative w-full h-full mx-auto bg-gradient-to-br from-rose-200 to-amber-200">
  
  <header class="top-0 left-0 LT_waveDivider">
    {% render 'divider-wave', fill_color: 'amber' %}
  </header>

  
<!-- video intro -->
    <!-- <section class="relative flex flex-col w-full h-auto bg-gradient-to-r from-black via-gray-500 to-black ">
      <video autoplay="true" loop="" preload muted defaultmuted class="max-h-[400px]">
        <source src="{{ 'LT_kpopStars.mp4' | asset_url }}" type="video/mp4">
      </video>
    </section> -->
<section class="relative w-full pt-[15%] pb-[5%] pl-[10vw]">
  <div class="flex flex-col gap-2">
    <div class="relative flex h-4 gap-2">
      <div class="w-40 color_bar bg-gradient-to-r from-yellow-200 to-orange-300"> </div>
      <div class="color_bar2 w-[10%] bg-gradient-to-r from-gray-200 to-gray-400"> </div>
      <div class="w-1/6 color_bar bg-gradient-to-r from-teal-300 to-teal-400"> </div>
    </div>
    <div class="relative flex h-4 gap-2">
      <div class="color_bar2 w-[4%] bg-gradient-to-r from-rose-200 to-rose-300"> </div>
      <div class="color_bar w-[9%] bg-gradient-to-r from-pink-300 to-purple-300"> </div>
      <div class="color_bar2 w-[12%] bg-gradient-to-r from-teal-400 to-green-400"> </div>
    </div>
    <div class="relative flex h-4 gap-2 left-10">
      <div class="color_bar2 w-[8%] bg-gradient-to-r from-red-400 to-orange-400"> </div>
      <div class="w-4 rounded-full color_bar2 bg-gradient-to-r from-cyan-300 to-emerald-400"> </div>
      <div class="color_bar w-[13%] bg-gradient-to-r from-yellow-400 to-orange-400"> </div>
    </div>
    <div class="block text-[10vw] font-extrabold leading-normal lg:leading-[2] text-transparent lg:text-8xl bg-gradient-to-r from-rose-400 to-violet-500 bg-clip-text">The Asian Pop Project</div>
    <div class="flex flex-wrap w-[70%] lg:w-[40%] text-base md:text-xl lg:text-2xl pb-2">Lil&apos;Thingamajigs online store is the best place to find all of the trendy Asian products you love.</div>
    <div class="relative flex h-4 gap-2">
      <div class="color_bar w-[15%] bg-gradient-to-r from-slate-400 to-slate-600"> </div>
      <div class="w-4 rounded-full color_bar bg-gradient-to-r from-purple-300 to-purple-400"> </div>
      <div class="color_bar2 w-[18%] bg-gradient-to-r from-amber-300 to-amber-500"> </div>
    </div>
    <div class="relative flex h-4 gap-2 left-4">
      <div class="color_bar w-[14%] bg-gradient-to-r from-indigo-300 to-sky-400"> </div>
      <div class="color_bar2 w-[22%] bg-gradient-to-r from-lime-300 to-lime-400"> </div>
      <div class="color_bar w-[12%] bg-gradient-to-r from-violet-300 to-fuchsia-400"> </div>
    </div>
    <div class="relative flex h-4 gap-2">
      <div class="color_bar2 w-[9%] bg-gradient-to-r from-blue-300 to-blue-500"> </div>
      <div class="color_bar2 w-[9%] bg-gradient-to-r from-red-300 to-red-500"> </div>
      <div class="color_bar w-[12%] bg-gradient-to-r from-violet-300 to-purple-300"> </div>
    </div>
    <div class="relative flex h-4 gap-2">
      <div class="color_bar w-[14%] bg-gradient-to-r from-neutral-300 to-neutral-500"> </div>
      <div class="color_bar w-[17%] bg-gradient-to-r from-green-300 to-green-500"> </div>
      <div class="color_bar2 w-[10%] bg-gradient-to-r from-blue-300 to-blue-400"> </div>
    </div>
  </div>
</section>

<!--DragonBall left image banner -->
  <section id="db_banner" class="db_banner group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] relative max-w-[1200px]">
    <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-1 row-span-3 row-start-1 lg:col-start-2">
      <a href="{{ collections['dragon-ball-merch'].url }}" class="after:absolute after:inset-0">
      <img src="{{'LT_dbBanner.png' | asset_img_url:'400x' }}" alt="" class="absolute origin-bottom group-hover:scale-105 bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 duration-500 ">
    </a>
    </div>
    <div class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-orange-300 to-red-300 col-span-full group-hover:duration-1000">
      <div class="flex flex-row-reverse">
        <div class="flex flex-col w-[45%] pr-10">
          <div class="py-4 text-2xl font-semibold lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl">Featured Collection</div>
          <div class="flex-1 py-2 text-base sm:text-lg md:text-xl lg:text-3xl">Build a dream collection. Find everything you need to build the ultimate figure collection.</div>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!--BTS left image banner -->
  <a href="{{ collections['bts'].url }}" class="no-underline group">
    <section id="bts_banner" class="my-20 group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto  max-w-[1200px] bg-cover bg-center bg-black bg-no-repeat rounded-lg shadow-lg max-h-[400px] aspect-[12/4]" style="background-image:url('{{'LT_btsBanner.jpg' | asset_img_url:'1200x'}}');">
      <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-1 row-span-3 row-start-1 lg:col-start-2">
        <!-- <img src="{{'LT_gundam.png' | asset_img_url:'400x' }}" alt="" class="absolute pl-2 bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500"> -->
      </div>
      <div class="h-full row-span-2 row-start-2 rounded-lg shadow-lg col-span-full">
        <div class="flex flex-row-reverse items-end h-full">
          <div class="flex flex-col w-[60%] items-center pb-10">
            <h2 class="flex-1 text-2xl font-semibold text-center text-transparent sm:text-2xl md:text-4xl lg:text-6xl bg-clip-text bg-gradient-to-r group-hover:bg-gradient-to-l from-pink-500 to-violet-500">BTS Collection</h2>
            <div class="p-2 text-base text-lt-white sm:text-lg md:text-xl lg:text-3xl">Most Requested K-Pop Artist</div>
          </div>
        </div>
      </div>
    </section>
    </a>

  <!--Demon Slayer right side image banner -->
  <section id="ds_banner" class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
    <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-6 row-span-3 row-start-1">
      <img src="{{'LT_dsBanner.png' | asset_img_url:'400x' }}" alt="" class="absolute bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500">
    </div>
    <div class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-green-300 to-yellow-300 col-span-full">
      <div class="flex flex-row">
        <div class="flex flex-col w-[55%]">
          <div class="py-4 text-2xl font-semibold text-center lg:py-8 sm:text-2xl md:text-4xl lg:text-6xl">Viral Sensation!</d>
          <div class="w-11/12 py-2 pl-8 text-base font-normal sm:text-lg md:text-xl lg:text-3xl">The most successful Japanese film of all time. Time to slay some demons! Check out the must-have Demon Slayer collectibles</div>
        </div>
      </div>
    </div>
  </section>

  <!-- LT Difference Point out -->
  <section id="LT_difference" class="flex flex-col w-[95%] md:w-11/12 mx-auto max-w-[1200px] rounded-lg bg-gradient-to-br from-sky-300 to-indigo-300 drop-shadow-lg mt-[5vh]">
    <div class="sectiontitle"><h2 class="text-3xl font-semibold text-center md:text-5xl">Lil&apos;Thingamajigs Difference</h2></div>
    <div class="flex flex-col w-full md:flex-row justify-evenly">
      <div class="flex items-center w-full md:w-[30%] flex-col p-2">
        <div class="flex items-center justify-center gap-4 px-2 ">
          <img src="{{'free-delivery.png' | asset_img_url: '50x'}}" alt="" class="w-14 lg:w-20">
          <h4 class="text-2xl font-semibold text-neutral-700">Free Shipping</h4>
      </div>
        <p>Free shipping on orders over $60. Order place by 1PM EST (Mon-Fri) will ship the same day.</p>
      </div>
      <div class="flex flex-col w-full md:w-[30%] p-2">
        <div class="flex items-center justify-center gap-4 px-2">
          <img src="{{'authentic.png' | asset_img_url: '50x'}}" alt="" class="w-12 lg:w-20">
          <h4 class="text-2xl font-semibold text-neutral-700">Authenticity</h4>
      </div>
        <p>Only the highest-quality oficially licensed merchandise</p>
      </div>
      <div class="flex flex-col p-2 md:w-[30%] w-full">
        <div class="flex items-center justify-center gap-4 px-2 ">
          <img src="{{'live-chat.png' | asset_img_url: '50x'}}" alt="" class="w-12 lg:w-20">
          <h4 class="text-2xl font-semibold text-neutral-700">Get Support</h4>
      </div>
        <p>Get all your questions answered for product, orders, and more.</p>
      </div>
    </div>
  </section>
  <!--Gundam left image banner -->
  <section id="gundam_banner" class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
    <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-1 row-span-3 row-start-1 lg:col-start-2">
      <img src="{{'LT_gundam.png' | asset_img_url:'400x' }}" alt="" class="absolute pl-2 bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500">
    </div>
    <div class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-zinc-300 to-indigo-300 col-span-full">
      <div class="flex flex-row-reverse">
        <div class="flex flex-col w-[60%]">
          <h2 class="text-2xl font-semibold text-center sm:text-2xl md:text-4xl lg:text-6xl">Gundam Model Kit</h2>
          <p class="flex-1 pr-2 text-base text-center md:pr-6 sm:text-lg md:text-xl lg:text-3xl">We offer a wide variety of Dragon Ball figures.</p>
        </div>
      </div>
    </div>
  </section>
  <!--Reward right side image banner -->
  <!-- <section class="group grid grid-cols-9 grid-rows-3 md:w-11/12 w-[95%] mx-auto h-[240px] sm:h-[300px] md:h-[400px] max-w-[1200px]">
    <div class="relative z-10 flex flex-col justify-end h-full col-span-4 col-start-6 row-span-3 row-start-1">
      <img src="{{'LT_rewardBalloon.png' | asset_img_url:'400x' }}" alt="" class="absolute bottom-0 left-0 w-full max-w-[400px] group-hover:duration-1000 group-hover:scale-105 origin-bottom duration-500">
    </div>
    <div class="row-span-2 row-start-2 rounded-lg shadow-lg bg-gradient-to-br group-hover:bg-gradient-to-tl from-lime-300 to-teal-300 col-span-full">
      <div class="flex flex-row">
        <div class="flex flex-col w-[55%]">
          <h2 class="text-2xl font-semibold text-center sm:text-2xl md:text-4xl lg:text-6xl">Get to know you LT Member Benefit</h2>
          <p class="flex-1 text-base text-center sm:text-lg md:text-xl lg:text-3xl">Your benefits are easier to earn and redeem. </p>
        </div>
      </div>
    </div>
  </section> -->
  
<!-- sumikko gurashi banner -->
  <a href="{{ collections['sumikko-gurashi'].url }}">
  <section class="grid place-items-center max-w-[1200px] md:w-11/12 w-[95%] mx-auto lg:pt-[5rem]">
    <img src="{{'LT_sumikkoBanner.png' | asset_img_url:'900x' }}" alt="" class="w-full h-full">
  </section>
</a>

  <section class="h-[7rem] block">
    
  </section>
    <!-- big main banner  -->
    
  <!-- {% render 'LT_diffBlock' %} -->
  <footer class="bottom-0 left-0 rotate-180 LT_waveDivider">
    {% render 'divider-wave', fill_color: 'apricot' %}
  </footer>
</main>
{%comment%}
<!-- grid background banner  -->
<div
  class="relative h-[30vh] md:h-[35rem] max-h-[40rem] w-[99vw] max-w-[1100px] mx-auto bg-lt-white overflow-hidden mt-4 ">
  <!-- background grid -->
  <div
    class="absolute inset-0 grid w-full h-[28rem] md:h-[50rem] lg:h-[40rem] grid-cols-5 grid-rows-4 transform -skew-y-2 gap-y-6 place-content-center md:grid-cols-5 md:grid-rows-4 lg:grid-cols-7 lg:grid-rows-3">
    <!-- retrieve 15 product images from new-item collection  -->
    {% for product in collections['new-items'].products limit:21 %}
    <div class="flex items-center justify-center col-span-1 row-span-1">
      <img src="{{ product.featured_image | img_url: '300x' }}" alt=""
        class="absolute max-w-[6rem] sm:max-w-[8rem] md:max-w-[11rem] lg:max-w-[12.5rem] object-cover object-top aspect-square rounded-xl drop-shadow-lg"
        loading="lazy">
    </div>
    {%endfor%}
    <!-- {% for block in section.blocks %}
            <div class="relative col-span-1 row-span-1 max-w-[300px]">
                <img src="{{block.settings.product.featured_image | img_url: '300x'}}" alt="" class="absolute object-cover object-top w-full max-w-[300px] max-h-full rounded-xl aspect-square drop-shadow-lg">
            </div> 
            {%endfor%} -->

  </div>
  <!-- content -->
  <div class="flex flex-col items-center justify-center h-full transform DEL-skew-y-3 drop-shadow-xl rellax"
    data-rellax-speed="-4">
    <div
      class="relative flex items-baseline px-6 pb-12 text-3xl font-extrabold bg-white text-rose-600 md:text-5xl lg:text-6xl outline outline-2 outline-rose-600 rounded-xl">
      <div class="z-10">The Asian</div>
      <img src="{{'pop.png' | asset_img_url: '75x'}}" alt="" class="z-10 w-18 h-18">
      <div class="z-10">Project</div>
      <div
        class="absolute inset-0 hidden w-full h-full translate-y-4 bg-gray-200 bg-opacity-70 filter rounded-xl blur-xl mix-blend-soft-light ">
      </div>
    </div>
    <!-- <p class="p-4 text-xl font-bold border-solid rounded-lg md:text-3xl lg:text-4xl text-slate-700 bg-lime-100">Asian Pop Project</p> -->
  </div>
  <!-- <div class="absolute inset-0 w-full h-full bg-lt-white/60"></div> -->

</div>
{%endcomment%}

{% javascript %}

//var rellax = new Rellax('.rellax');

{% endjavascript %}
<script>
//document.querySelector('video').playbackRate = 0.2;


</script>


{% schema %}
{
  "name": "Grid Background Banner",
  "class": "section",
  "tag": "section",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "default": "Lil'Thingamajigs",
    "label": "type in banner heading"
    }
  ],
  "blocks": [
    {
    "type": "gridbackground",
    "name": "grid image",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "select a product for grid background image"
      },
      {
      "type": "range",
      "id": "span",
      "min": 1,
      "max": 5,
      "step": 1,
      "default":1,
      "label": "span value"
      },
      {
      "type": "range",
      "id": "duration",
      "min": 10,
      "max": 100,
      "step": 10,
      "default":10,
      "label": "duration value"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid Background Banner",
      "blocks": [
        {
        "type": "gridbackground"
        }
      ]
    }
  ]
  }
{% endschema %}