{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}

<div class="flex flex-col justify-center w-full py-4 mx-auto overflow-hidden md:px-12 ">
  <!-- <div class="absolute inset-0 flex flex-wrap items-center justify-around w-11/12 gap-5 opacity-25 h-4/5">
    {% for product in collection.products limit:10 %}
    <img src="{{product.featured_image | img_url:'50x'}}" alt="" class="object-contain" >
    {% endfor %}
  </div> -->
    <div class="flex flex-col gap-4 md:flex-row items-center justify-between w-full py-8 ">
      {% assign collection_title = collection.title | split: " "  %}
      
        <div class="flex items-center md:ml-10 flex-1">
          <img src="{{'Logo_RGB_300ppi_1.png' | file_img_url: '50x'}}" alt="" class="object-cover w-10 h-10 mr-2" loading="lazy">
          <div class="text-3xl font-medium text-neutral-700">
            {{collection.title }}
          </div>
        </div>
      {% if collection.handle == 'jpen' %}
        <div class="text-xl lg:text-2xl text-white bg-rose-500 px-3 py-2 rounded">Branded Pen from Japan - <span class="text-cyan-50 text-2xl">B2G1 FREE</span></div>
        {% elsif collection.handle == 'sticker'%}
        <div class="text-xl lg:text-2xl text-white bg-rose-500 px-3 py-2 rounded">Online Exclusive Sticker Deal - <span class="text-cyan-50 text-2xl">B2G1 FREE</span></div>

      {% elsif collection.handle == 'figure' or
        collection.handle == 'static-figure' or
        collection.handle == 'action-figure' or
        collection.handle == 'blind-box-gachapon' or
        collection.handle == 'chibi-figure' %}
        <div class="text-xl md:text-2xl text-white bg-rose-500 px-3 py-2 rounded">Limited Time Online Deal! All Figures BOGO 50% OFF</div>
      {% elsif collection.handle == 'model-kit-bogo-30'%}
        <div class="text-xl md:text-2xl text-white bg-rose-500 px-3 py-2 rounded">Limited Time Online Deal! Selected Model Kits BOGO 30% OFF</div>
        
      {% elsif collection.handle == 'writing-material'  %}
        <div class="text-xl text-slate-600">Enjoy free shipping on Writing Material order over $35 </span></div>
      {% elsif collection.handle == 'kpop-albums' or collection.handle == 'boy-group-1' or collection.handle == 'girl-group' or collection.handle == 'boy-group' or collection.handle == 'new-kpop' %}
        <div class="text-xl md:text-2xl text-white bg-rose-500 px-3 py-2 rounded">Don't Miss Online Exlcusive K-Pop Albums BOGO 50% OFF</div>
      {% else %}
        <section class="flex flex-col items-center px-4" data-ajax-cart-section data-ajax-bind-state="cart.total_price">
              {% if cart.total_price < 6000 %}
                  <div class="text-base lg:text-lg">Have your eye on anything else? If you spend {{ 6000 | minus: cart.total_price | money}} more, you qualify for free U.S. shipping!</div>
              {% elsif cart.total_price > 6000 %}
                  <p>Your order qualifies for free U.S. shipping! Enjoy the savings.</p>
              {% endif %}
        </section>
      {% endif %}
      

      <!-- {%- if section.settings.show_collection_description -%}
        <div class="flex-shrink w-1/2 px-4 text-lg DELcollection-hero__description DELrte">{{ collection.description }}</div>
      {%- endif -%} -->
    </div>
</div>

{% schema %}
{
  "name": "LT Collection Banner",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ],
  "presets": [
    {
      "name": "LT_collection banner"
    }
  ]
}
{% endschema %}
