<div class="flex justify-center gap-8 mt-8 flex-wrap max-w-[1400px] mx-auto">
  <div class="flex-0 basis-[45%] md:basis-1/4 overflow-hidden">
    <a href="/collections/figure" class="">
      <img
        src="{{ 'LT_sale2.jpeg' | asset_img_url: '400x' }}"
        alt="sale promotion"
        height="400"
        width="400"
        loading="lazy"
        class="object-cover w-full h-full transition-transform duration-300 aspect-square hover:scale-105"
      >
    </a>
  </div>
  <div class="flex-0 basis-[45%] md:basis-1/4 overflow-hidden">
    <a href="/collections/kpop-albums" class="">
      <img
        src="{{ 'LT_sale3.jpeg' | asset_img_url: '400x' }}"
        height="400"
        width="400"
        loading="lazy"
        alt="sale promotion"
        class="object-cover w-full h-full transition-transform duration-300 aspect-square hover:scale-105"
      >
    </a>
  </div>
  <div class="flex-0 basis-[45%] md:basis-1/4 overflow-hidden">
    <a href="/collections/model-kit-bogo-30" class="">
      <img
        src="{{ 'LT_sale4.jpeg' | asset_img_url: '400x' }}"
        height="400"
        width="400"
        loading="lazy"
        alt="sale promotion"
        class="object-cover w-full h-full transition-transform duration-300 aspect-square hover:scale-105"
      >
    </a>
  </div>
  <div class="flex-0 basis-[45%] md:basis-1/4 overflow-hidden">
    <a href="/collections/sticker" class="">
      <img
        src="{{ 'LT_sale5.jpeg' | asset_img_url: '400x' }}"
        height="400"
        width="400"
        loading="lazy"
        alt="sale promotion"
        class="object-cover w-full h-full transition-transform duration-300 aspect-square hover:scale-105"
      >
    </a>
  </div>
  <div class="flex-0 basis-[45%] md:basis-1/4 overflow-hidden">
    <a href="/collections/donggubat" class="">
      <img
        src="{{ 'LT_sale6.jpeg' | asset_img_url: '400x' }}"
        height="400"
        width="400"
        loading="lazy"
        alt="sale promotion"
        class="object-cover w-full h-full transition-transform duration-300 aspect-square hover:scale-105"
      >
    </a>
  </div>
  <div class="flex-0 basis-[45%] md:basis-1/4 overflow-hidden">
    <a href="/collections/jpen" class="">
      <img
        src="{{ 'LT_sale7.jpeg' | asset_img_url: '400x' }}"
        height="400"
        width="400"
        loading="lazy"
        alt="sale promotion"
        class="object-cover w-full h-full transition-transform duration-300 aspect-square hover:scale-105"
      >
    </a>
  </div>
</div>

{% schema %}
{
  "name": "LT Sales Banner",
  "class": "section",
  "tag": "section",
  "presets": [
    {
      "name": "LT Sales Banner"
    }
  ]
}
{% endschema %}
