<section class="max-w-[1400px] h-full items-center flex flex-wrap justify-center p-10 mx-auto gap-6">
    <a href="{{ collections['figure'].url }}"><img src="{{ 'LT_sale2.jpeg' | asset_url }}" alt="" width=1000 height=1000 loading="lazy" class="w-full max-w-[500px] h-auto rounded drop-shadow"></a>
    <a href="{{ collections['kpop-albums'].url }}"><img src="{{ 'LT_sale3.jpeg' | asset_url }}" alt="" width=1000 height=1000 loading="lazy" class="w-full max-w-[500px] h-auto rounded drop-shadow"></a>
    <a href="{{ collections['model-kit-bogo-30'].url }}"><img src="{{ 'LT_sale4.jpeg' | asset_url }}" alt="" width=1000 height=1000 loading="lazy" class="w-full max-w-[500px] h-auto rounded drop-shadow"></a>
    <a href="{{ collections['sticker'].url }}"><img src="{{ 'LT_sale5.jpeg' | asset_url }}" alt="" width=1000 height=1000 loading="lazy" class="w-full max-w-[500px] h-auto rounded drop-shadow"></a>
    <a href="{{ collections['donggubat'].url }}"><img src="{{ 'LT_sale6.jpeg' | asset_url }}" alt="" width=1000 height=1000 loading="lazy" class="w-full max-w-[500px] h-auto rounded drop-shadow"></a>
    <a href="{{ collections['jpen'].url }}"><img src="{{ 'LT_sale7.jpeg' | asset_url }}" alt="" width=1000 height=1000 loading="lazy" class="w-full max-w-[500px] h-auto rounded drop-shadow"></a>
  
  
</section>

{% schema %}
{
  "name": "LT Sales Banner",
  "class": "section",
  "tag": "section",
  "presets": [
    {
      "name": "LT Sales Banner"
    }
  ]
}
{% endschema %}
