

<div class="w-full px-6 py-10 md:px-10 lg:px-20 md:py-12 bg-lime-100/50">
  <div class="pb-4 text-2xl font-semibold md:text-3xl lg:text-4xl">
    More reasons to shop with us.
  </div>

  <div class="grid justify-between w-full grid-cols-4 gap-6 list-none md:gap-8 lg:gap-10">
    {%- for block in section.blocks -%}
      <div class="flex flex-col justify-start col-span-2 p-4 bg-gray-100 group drop-shadow-lg shadow-cyan-300 rounded-xl md:col-span-1">
          {%- if block.settings.image != blank -%}
            
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
              <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                <img
                  class=""
                  src="{{ block.settings.image | img_url: '550x' }}"
                  sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                    (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                    calc(100vw - 30px)"
                  alt="{{ block.settings.image.alt }}"
                  height="{{ block.settings.image.height }}"
                  width="{{ block.settings.image.width }}"
                >
              </div>
            </div>
          {%- endif -%}

        <div class="text-xl font-semibold text-center md:text-xl lg:text-2xl group-hover:text-amber-700 group-hover:underline">{{ block.settings.title | escape }}</div>
        <div class="text-lg md:text-xl lg:text-2xl">{{ block.settings.text }}</div>
      </div>
    {%- endfor -%}
  </div>
    
</div>

{% schema %}
{
  "name": "LT_multicolumn",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Lil'Thingamajigs difference",
      "label": "grid section title"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LT_multicolumn grid",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
