

<div class="w-full px-6 py-10 md:py-16 md:px-10 lg:px-20 md:py-12 bg-lt-white max-w-[1200px] mx-auto">
  <div class="pb-4 md:pb-8 tw_smallheading">
    <em class="tw_smallEM">More</em> reasons to shop with us.
  </div>

  <div class="grid grid-cols-3 gap-8 md:grid-cols-4 md:gap-10 lg:gap-16 grid-rows-3 md:grid-rows-2 max-w-[1200px] mx-auto">
    {%- for block in section.blocks -%}
      <div class="flex flex-col items-center justify-start w-full h-full col-span-1 p-4 bg-slate-100 max-h-80 group LT_button">
          {%- if block.settings.image != blank -%}
            
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
              <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                <img
                  class=""
                  src="{{ block.settings.image | img_url: '550x' }}"
                  sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                    (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                    calc(100vw - 30px)"
                  alt="{{ block.settings.image.alt }}"
                  height="{{ block.settings.image.height }}"
                  width="{{ block.settings.image.width }}"
                >
              </div>
            </div>
          {%- endif -%}

        <div class="py-4 text-center tw_containerTitle ">{{ block.settings.title | escape }}</div>
        <div class="px-6 mx-auto text-base text-center md:text-xl lg:text-xl grow">{{ block.settings.text }}</div>
      </div>
    {%- endfor -%}
  </div>
    
</div>

{% schema %}
{
  "name": "LT_multicolumn",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Lil'Thingamajigs difference",
      "label": "grid section title"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LT_multicolumn grid",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
