<section class="py-10 mx-auto bg-gray-200 page-width">
  <div class="tw_smallEM">Specials & Offers</div>
    
<!-- -Clearance Saving -->
  <div class="flex pt-4 pb-4 pl-4 mx-auto overflow-x-scroll gap-x-4 scroll-smooth snap-x hiddenscroll">
    <div class="flex flex-col items-start justify-center h-[24rem] p-6 bg-red-100 rounded-md w-52 drop-shadow-lg">
        <div class="text-3xl text-gray-700 empty:hidden">Clearance</div>
        <div class="text-3xl text-gray-700 empty:hidden">Sale</div>
        <div class="text-3xl text-gray-700 empty:hidden">Up to 35% off</div>
        <a href="{{ collections['clearance-sale'].url }}" class="no-underline"><button class="mt-4 text-2xl text-gray-700 bg-gray-200 rounded-md">Click More</button></a>
    </div>
    {% assign loop = collections['clearance-sale'].products | reverse %}
    {% for product in loop limit:20 %}
    {% assign discount = product.compare_at_price | minus:product.price | times:100 | divided_by:product.compare_at_price %} 
    {% if discount  and product.compare_at_price %}
    
    <div class="relative flex flex-col h-[24rem] drop-shadow-lg items-center">
      <a href="{{product.url}}" class="absolute w-full h-full no-underline">
      </a>
        <img src="{{product.featured_image | img_url: '250x' }}" alt="" class="object-cover object-top w-52 h-[17rem] rounded-t-lg">
        <div class="h-[5rem] px-2 bg-red-100 w-52">
          <div class="pt-2 text-base text-gray-700">{{product.metafields.my_fields.series}}-{{product.metafields.my_fields.product_lines}}-{{product.metafields.my_fields.item_type}}</div>
        </div>
        <div class="flex items-baseline w-52 h-[2rem] bg-red-100 rounded-b-lg justify-center">
          <div class="px-2 pt-2 text-base text-gray-700 line-through">{{product.compare_at_price | money}}</div>
          <div class="px-2 text-lg font-semibold text-gray-800">{{product.price | money }}</div>
        </div>
      </div>
    {%endif%}
    {% endfor %}
  </div>

<!-- -Bundle Deal -->
  <div class="flex pt-4 pb-4 pl-4 mx-auto overflow-x-scroll overflow-y-hidden gap-x-4 scroll-smooth snap-x hiddenscroll">
    <div class="flex flex-col items-start justify-center h-[24rem] p-6 bg-neutral-100 rounded-md w-52 drop-shadow-lg">
        <div class="text-3xl text-gray-700 w-52">Bundle</div>
        <div class="text-3xl text-gray-700 w-52">Set</div>
        <div class="text-3xl text-gray-700 w-52">Deal</div>
        <button class="mt-4 text-2xl text-gray-700 bg-gray-200 rounded-md"><a href="/collections/special-bundle" class="no-underline">Click More</a></button>
    </div>
    {% assign loop = collections['special-bundle'].products | reverse %}
    {% for product in loop limit:20 %}
    {% assign discount = product.compare_at_price | minus:product.price | times:100 | divided_by:product.compare_at_price %} 
    {% if discount  and product.compare_at_price %}
    
    <div class="relative flex flex-col h-[24rem] drop-shadow-lg items-center">
      <a href="{{product.url}}" class="absolute w-full h-full no-underline">
      </a>
        <img src="{{product.featured_image | image_url: width:250 }}" alt="" class="object-contain  w-52 h-[17rem] w-[17rem] rounded-t-lg bg-white" loading="lazy">
        <div class="h-[5rem] px-2 bg-neutral-100 w-[17rem]">
          <div class="pt-2 text-base text-gray-700">{{product.title | truncate: 50}}</div>
        </div>
        <div class="flex items-baseline w-[17rem] h-[2rem] bg-neutral-100 rounded-b-lg justify-center">
          <div class="px-2 pt-2 text-base text-gray-700 line-through">{{product.compare_at_price | money}}</div>
          <div class="px-2 text-lg font-semibold text-gray-800">{{product.price | money }}</div>
        </div>
      </div>
    {%endif%}
    {% endfor %}
  </div>

    
    

</section>


{% schema %}
{
  "name": "LT SpecialPG Module",
  "tag": "section",
  "class": "section LT_specialPage-module",
  "max_blocks": 15,
  "settings": [
    {
      "type": "text",
      "id": "text_1",
      "default": "Specials & Offers",
      "label": "Enter special&offers page module heading"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "special page block",
      "settings": [
        {
          "type": "text",
          "id": "featured_title",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LT_SpecialPG Module"
    }
  ]
}
{% endschema %}