{%- style -%}

  
{%- endstyle -%}
<div class="page-width">
  {% render 'section-title' %}

</div>
<!-- <div class="py-4 pl-8 page-width md:py-8 md:pl-12 lg:pl-20 bg-lt-white tw_smallheading max-w-[1200px]">
    <em class="tw_smallEM">Most</em> searched keywords. See what others are buying

</div> -->
<div class="flex snap-x overflow-x-scroll scroll-smooth justify-start gap-4 py-10 md:gap-6 page-width max-w-[1200px] tw_scroll page-width hiddenscroll">
    {% assign array_keyword = section.settings.popular_keywords | split: ',' %}
    {% for keyword in array_keyword limit:25 %}
    {% capture url %}/collections/{{ keyword | handle}}{%endcapture%}
    {%assign keytag  = keyword | downcase %}
        <div class="px-2 py-1 text-xl rounded-2xl outline-2 outline-lime-500 outline-double grow-0 shrink-0 link_style hover:outline-red-500 snap-center">
            {{keyword | link_to: url}}
        </div>
    {% endfor %}
</div>



<!-- <div class="flex w-screen pb-6 page-width bg-lt-white">
    <div class="flex flex-col items-center justify-center flex-shrink-0 px-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
          </svg>
    </div>
    <div class="flex items-center gap-6 p-6 overflow-x-scroll snap-mandatory snap-x tw_scroll">
        {% for block in section.blocks  %}
        <a href="{{block.settings.collection.url}}" class="no-underline">
            <div class="relative w-40 h-40 snap-center shrink-0 sm:h-80 sm:w-80 group">
                    <img src="{{block.settings.collection.image | img_url: '400x400' }}" alt=""
                    class="absolute object-contain w-full h-full p-4">
                    <div
                    class="absolute bottom-0 w-full text-base text-center duration-200 transform bg-black text-lt-white bg-opacity-40 backdrop-blur-md group-hover:hidden md:text-xl lg:text-2xl">{{block.settings.collection.title}}</div>
            </div>
        </a>
        {%endfor%}
    </div>
    <div class="flex flex-col items-center justify-center flex-shrink-0 px-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
          </svg>
    </div>
</div> -->

{% schema %}
{
"name": "Popular Keywords",
"class": "section",
"tag": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Most searched keywords. See what others are buying.",
"label": "type in banner heading"
},
{
"type": "text",
"id": "popular_keywords",
"default": "BTS,Twice,BT21,Hello Kitty,Demon Slayer,TXT,Stray Kids,One Piece,Ateez,Enhypen,Gundam,Plush,Sailor Moon,Naruto,Itzy,Red Velvet,Nendoroid,Pokemon,NCT,Rilakkuma,Loona,Sticker,Keychain,jojo,Kuromi,Jujutsu Kaisen,Dragon Ball,Blackpink,Monsta X,Seventeen,Aespa,Haikyuu,P1harmony,Hatsune Miku",
"label": "import popular keywords(separated by comma)"
}
],
"blocks": [
{
"type": "category",
"name": "category selection",
"settings": [
{
"type": "collection",
"id": "collection",
"label": "selected collection"
},
{
"type": "image_picker",
"id": "image",
"label": "category image"
},
{
"type": "text",
"id": "title",
"label": "category text label"
},
{
"type": "url",
"id": "link",
"label": "category url link"
}
]
}
],
"presets": [
{
"name": "popular keyword",
"blocks": [
{
"type": "category"
},
{
"type": "category"
},
{
"type": "category"
}
]
}
]
}
{% endschema %}